@media only screen and (max-width: 1200px) {
    html {
        /* Per rem */
        font-size: 15px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0 !important;
    }

    nav ul li:first-child {
        min-width: auto;
    }

    .main-section {
        flex-direction: column;
    }

    .main-section h1,
    .main-section h2 {
        text-align: center;
    }

    .main-section img {
        max-width: 300px;
        max-height: 300px;
    }

    .main-section-buttons-group {
        justify-content: center;
    }

    .podcast-links {
        flex-direction: column;
    }

    .podcast-links > * {
        margin: 1rem 0 !important;
    }

    .text-with-image {
        flex-direction: column;
    }

    .text-with-image img {
        max-height: 250px;
        margin-right: 0;
        align-self: center;
    }

    .chi-sono {
        flex-direction: column;
    }

    .chi-sono > div {
        margin: 0 !important;
    }

    .francesco-bonizzi-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .francesco-bonizzi-container h4 {
        width: auto;
        margin-top: 0.5rem;
    }

    footer {
        padding: 2rem 1rem;
    }

    .contacts-section span {
        display: none;
    }

    header {
        padding: 1rem 1rem 0 1rem;
    }

    section {
        padding: 4rem 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .action-button {
        padding: 12px 20px;
    }

    .yellow-dot li {
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }
}
