---
layout: skeleton
isEpisodePage: false

metaTitle: Il podcast
metaDescription: 'Come nasce un papà è il primo podcast in cui la gravidanza è raccontata da un papà: un progetto totalmente amatoriale che viene dal cuore'
---

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>Come nasce un papà</h1>
            <h2>Un giorno mi sono svegliato e ho scoperto che sarei diventato papà: ecco cos'è successo nei 9 mesi dopo</h2>

            <div class="main-section-buttons-group">
                <a class="action-button" href="#dove-ascoltare">Ascolta subito</a>
                <a class="action-button" href="#episodi">Gli episodi</a>
            </div>
        </div>

        <div>
            <img
                src="{{ site.url }}/assets/images/come-nasce-un-papa-podcast-logo-transparent.png?v=kkH8Ehknqdx2biuFRUCD9VNYLMY0Bo04n-qin7rL8CQ"
                alt="Il logo del podcast come nasce un papà"
                width="500"
                height="500"
            />
        </div>
    </div>
</section>

{% include disponibileSu.html %}

<section id="podcast" class="alt-section">
    <div class="section-content">
        <h3>Il podcast</h3>
        <p><strong>Come nasce un papà</strong> è un progetto totalmente amatoriale che viene dal cuore.</p>
        <div class="text-with-image">
            <img
                src="{{ site.url }}/assets/images/come-nasce-un-papà-buongiorno.jpg?v=yk6lIMs0QW3i4Ey7rtDusEhxw3mc_qoBfBBCObm5pWw"
                alt="Il test di gravidanza di quando ho scoperto di diventare papà"
                height="300"
                width="400"
            />
            <p>
                La mattina del 28 novembre 2019 mi sveglio e Chiara non è a letto con me. Mi alzo, senza inforcare gli
                occhiali, mi dirigo come uno zombie verso la luce che si intravede da sotto la porta, cercando di non tirare
                testate contro le cose. Vado in cucina e la trovo col telefono in mano che mi filma: c'è un foglio sul tavolo
                e un aggeggio lì vicino che non distinguo perché senza occhiali non vedo neanche le mie mani.<br />
                Mi avvicino, assonnato, e leggo la scritta sul foglio:<br /><strong>Buongiorno papà!</strong>
            </p>
        </div>
        <p>
            Da lì, la mia vita è cambiata: i 9 mesi successivi sono stati un turbinio di emozioni che ho deciso di
            racchiudere in un podcast. Non sono un esperto oratore, ma quello che vi racconto in "Come nasce un papà" è tutto
            vero, altro che se è vero.
        </p>
    </div>
</section>

<section id="chi-sono">
    <div class="section-content chi-sono">
        <div>
            <h3>Chi sono</h3>
            <p>
                Mi chiamo <strong>Francesco Bonizzi</strong>, sono uno
                <a href="https://www.imaginesoftware.it" target="_blank">sviluppatore software</a> freelance cresciuto a
                Mantova ma trapiantato a Fidenza (Parma) per amore. Mia moglie è Chiara e la nostra piccola peste è Damiano.
            </p>
            <p>
                Adoro: suonare il <span class="piano-black">p</span>i<span class="piano-black">a</span>n<span
                    class="piano-black"
                    >o</span
                >f<span class="piano-black">o</span>r<span class="piano-black">t</span>e, la
                <span class="montagna-boschi">montagna</span> e i videogiochi. Coltivo piantine con la tecnica
                dell'idroponico, sono vegetariano 💚 e appassionato di scienza 🔬.
            </p>
            <p>Il mio piatto preferito, ovviamente, sono i tortelli di zucca mantovani.</p>
        </div>
        <div class="francesco-bonizzi-container">
            <img
                src="{{ site.url }}/assets/images/francesco-bonizzi.jpg?v=KWKNiIqpisitsqq_pRa9NAiH3x3SrSunGjDKfJxEydE"
                width="200"
                height="200"
                alt="Una foto di Francesco Bonizzi"
            />
            <h4>Francesco Bonizzi</h4>
            <p>Non ho Instagram né Facebook, ma puoi scrivermi quando vuoi su Telegram o per email</p>
            <p><a href="#contattami">Ecco i miei contatti</a></p>
        </div>
    </div>
</section>

<section id="episodi" class="alt-section">
    <div class="section-content">
        <h3>Episodi</h3>
        <ul class="episodi-list">
            {% for page in site.pages %} {% if page.isEpisodePage %}
            <li>
                <a href="{{ page.permalink }}">
                    <h4>{{ page.metaTitle }}</h4>
                    <p>{{ page.metaDescription }}</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
</section>

<section>
    <div class="section-content">
        <h3>Curiosità</h3>
        <ul class="yellow-dot">
            <li>Mio suocero fa un'ottima torta alle carote</li>
            <li>Tutti i fatti raccontati riguardano veramente i 9 mesi consecutivi al concepimento</li>
            <li>Cazzo, divento papà! 😮</li>
        </ul>
    </div>
</section>

{% include contatti.html %}
