@model StatusCodeErrorViewModel
@{
    ViewData["Title"] = "Error";
    ViewData["MetaDescription"] = "Oooooops. Non metterò mai abbastanza 'o', ma si è verificato un errore, e avrei preferito non accadesse 😱";
    ViewData["Header-Custom-Class"] = "header-error-page";
    ViewData["Footer-Custom-Class"] = "footer-error-page";
}
<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>Come nasce un papà</h1>
            <h2>
                @Model?.ErrorDescription
            </h2>

            <div class="main-section-buttons-group">
                <a class="action-button" href="/">Torna alla pagina principale</a>
            </div>
        </div>

        <div>
            <img src="~/assets/come-nasce-un-papa-podcast-logo-transparent.png" width="500" height="500" asp-append-version="true" />
        </div>
    </div>
</section>