@{
    ViewData["Title"] = "Il podcast";
    ViewData["MetaDescription"] = "Come nasce un papà è il primo podcast in cui la gravidanza è raccontata da un papà: un progetto totalmente amatoriale che viene dal cuore.";
}

@section StructuredData {
<script type="application/ld+json">
    {
        "@@context": "https://schema.org/",
        "@@type": "PodcastSeries",
        "image": "https://www.francescopodcast.it/assets/come-nasce-un-papa-podcast-logo-transparent.png",
        "url": "https://www.francescopodcast.it/",
        "name": "Come nasce un papà",
        "description": "@ViewData["MetaDescription"]",
        "webFeed": "https://www.spreaker.com/show/5422121/episodes/feed",
        "author": {
            "@@type": "Person",
            "name": "Francesco Bonizzi"
        }
    }
</script>
}

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>Come nasce un papà</h1>
            <h2>
                Un giorno mi sono svegliato e ho scoperto che sarei diventato papà: ecco cos'è successo nei 9 mesi dopo
            </h2>

            <div class="main-section-buttons-group">
                <a class="action-button" href="#dove-ascoltare">Ascolta subito</a>
                <a class="action-button" href="#episodi">Gli episodi</a>
            </div>
        </div>

        <div>
            <img src="~/assets/come-nasce-un-papa-podcast-logo-transparent.png"
                 alt="Il logo del podcast come nasce un papà"
                 width="500" height="500"
                 asp-append-version="true" />
        </div>
    </div>
</section>

<partial name="_DisponibileSu" />

<section id="podcast" class="alt-section">
    <div class="section-content">
        <h3>Il podcast</h3>
        <p><strong>Come nasce un papà</strong> è un progetto totalmente amatoriale che viene dal cuore.</p>
        <div class="text-with-image">
            <img src="~/assets/come-nasce-un-papà-buongiorno.jpg" asp-append-version="true"
                 alt="Il test di gravidanza di quando ho scoperto di diventare papà"
                 height="300" width="400" />
            <p>
                La mattina del 28 novembre 2019 mi sveglio e Chiara non è a letto con me.
                Mi alzo, senza inforcare gli occhiali, mi dirigo come uno zombie verso la luce che si intravede da sotto la porta,
                cercando di non tirare testate contro le cose.
                Vado in cucina e la trovo col telefono in mano che mi filma:
                c'è un foglio sul tavolo e un aggeggio lì vicino che non distinguo
                perché senza occhiali non vedo neanche le mie mani.<br />
                Mi avvicino, assonnato, e leggo la scritta sul foglio:<br /><strong>Buongiorno papà!</strong>
            </p>
        </div>
        <p>
            Da lì, la mia vita è cambiata:
            i 9 mesi successivi sono stati un turbinio di emozioni che ho deciso di racchiudere in un podcast.
            Non sono un esperto oratore, ma quello che vi racconto in "Come nasce un papà" è tutto vero, altro che se è vero.
        </p>
    </div>
</section>

<section id="chi-sono">
    <div class="section-content chi-sono">
        <div>
            <h3>Chi sono</h3>
            <p>
                Mi chiamo <strong>Francesco Bonizzi</strong>, sono uno
                <a href="https://www.imaginesoftware.it" target="_blank">sviluppatore software</a> freelance cresciuto a Mantova ma trapiantato
                a Fidenza (Parma) per amore. Mia moglie è Chiara e la nostra piccola peste è Damiano.
            </p>
            <p>
                Adoro: suonare il <span class="piano-black">p</span>i<span class="piano-black">a</span>n<span class="piano-black">o</span>f<span class="piano-black">o</span>r<span class="piano-black">t</span>e,
                la <span class="montagna-boschi">montagna</span> e i videogiochi.
                Coltivo piantine con la tecnica dell'idroponico, sono vegetariano 💚 e appassionato di scienza 🔬.
            </p>
            <p>
                Il mio piatto preferito, ovviamente, sono i tortelli di zucca mantovani.
            </p>
        </div>
        <div class="francesco-bonizzi-container">
            <img src="~/assets/francesco-bonizzi.jpg"
                 width="200"
                 height="200"
                 asp-append-version="true"
                 alt="Una foto di Francesco Bonizzi" />
            <h4>Francesco Bonizzi</h4>
            <p>
                Non ho Instagram né Facebook, ma puoi scrivermi quando vuoi su Telegram o
                per email
            </p>
            <p><a href="#contattami">Ecco i miei contatti</a></p>
        </div>
    </div>
</section>

<section id="episodi" class="alt-section">
    <div class="section-content">
        <h3>Episodi</h3>
        <ul class="episodi-list">
            <li>
                <a asp-controller="Episodes" asp-action="Episodio1">
                    <h4>Mese 1 - Divento papà</h4>
                    <p>La mattina del 28 novembre 2019 mi sveglio e Chiara non è a letto con me...</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>

            <li>
                <a asp-controller="Episodes" asp-action="Episodio2">
                    <h4>Mese 2 - La prima visita</h4>
                    <p>È due mesi che faccio il test della doppia sberla ogni mattina...</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>

            <li>
                <a asp-controller="Episodes" asp-action="Episodio3">
                    <h4>Mese 3 - Iniziano le nausee</h4>
                    <p>Chiara dorme poco, è stanca ed ha nausee frequenti che cerca di blandire mangiando a piccole dosi...</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>

            <li>
                <a asp-controller="Episodes" asp-action="Episodio4">
                    <h4>Mese 4 - Dirlo a tutti</h4>
                    <p>Selfie di famiglia: "al mio tre dite tutti... aspettiamo un bambino!"</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>

            <li>
                <a asp-controller="Episodes" asp-action="Intermezzo">
                    <h4>Intermezzo - Ninna nanna magica</h4>
                    <p>Libertà, libertà libertà, montagne a punta, vertigini profondissime, strade innevate...</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>

            <li>
                <a asp-controller="Episodes" asp-action="Episodio5">
                    <h4>Mese 5 - Pensieri sentieri</h4>
                    <p>Quando mi trovai in mare aperto onde immense mi travolsero e mi straziarono per rivelarmi amare verità che ignoravo...</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>

            <li>
                <a asp-controller="Episodes" asp-action="Episodio6">
                    <h4>Mese 6 - Il biscotto della paura</h4>
                    <p>È UN MASCHIO! È un maschio, ho visto le foto. E c'era anche una manina che mi salutava da sotto la pancia!</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>

            <li>
                <a asp-controller="Episodes" asp-action="Episodio7">
                    <h4>Mese 7 - Preparare il nido</h4>
                    <p>Preparare il nido significa costruire un luogo invitante per accogliere la cosa più bella del mondo...</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>

            <li>
                <a asp-controller="Episodes" asp-action="Episodio8">
                    <h4>Mese 8 - Coronavirus</h4>
                    <p>Nella realtà nessun cerchio è prefetto, nessun contesto è completamente chiuso, le simmetrie sono solo delle approssimazioni</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>

            <li>
                <a asp-controller="Episodes" asp-action="Episodio9">
                    <h4>Mese 9 - Ecco Damiano! Finale di stagione</h4>
                    <p>Contrazioni, si rompono le acque, epidurale... Cazzo, sto diventando un papà!</p>
                </a>
                <span>▶️ Ascoltalo subito</span>
            </li>

        </ul>
    </div>
</section>

<section>
    <div class="section-content">
        <h3>Curiosità</h3>
        <ul class="yellow-dot">
            <li>Mio suocero fa un'ottima torta alle carote</li>
            <li>Tutti i fatti raccontati riguardano veramente i 9 mesi consecutivi al concepimento</li>
            <li>Cazzo, divento papà! 😮</li>
        </ul>
    </div>
</section>

<partial name="_Contacts" model="new { IsAlt = true }" />