@{
    ViewData["Title"] = "Il podcast";
    ViewData["MetaDescription"] = "Come nasce un papà è il primo podcast in cui la gravidanza è raccontata da un papà: un progetto totalmente amatoriale che viene dal cuore.";
}

@section StructuredData {
<script type="application/ld+json">
    <script type="application/ld+json">
    {
        "@@context": "https://schema.org/",
        "@@type": "PodcastSeries",
        "image": "https://www.francescopodcast.it/assets/come-nasce-un-papa-podcast-logo-transparent.png",
        "url": "https://www.francescopodcast.it/",
        "name": "Come nasce un papà",
        "description": "@ViewData["MetaDescription"]",
        "webFeed": "https://www.spreaker.com/show/5422121/episodes/feed",
        "author": {
            "@@type": "Person",
            "name": "Francesco Bonizzi"
        }
    }
</script>
    }

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>Come nasce un papà</h1>
            <h2>
                Un giorno mi sono svegliato e ho scoperto che sarei diventato papà: ecco cos'è successo nei 9 mesi dopo
            </h2>

            <div class="main-section-buttons-group">
                <a class="action-button" href="#dove-ascoltare">Ascolta subito</a>
                <a class="action-button" href="#episodi">Gli episodi</a>
            </div>
        </div>

        <div>
            <img src="assets/come-nasce-un-papa-podcast-logo-transparent.png" alt="Il logo del podcast come nasce un papà" width="500" height="500" asp-append-version="true" />
        </div>
    </div>
</section>

<section id="dove-ascoltare">
    <div class="section-content podcast-links">
        <h3>Disponibile su</h3>
        <a href="https://podcasts.apple.com/us/podcast/come-nasce-un-pap%C3%A0/id1609057474" alt="Il link per ascoltare Come nasce un papà su Apple Podcast">
            <img src="assets/apple-podcast-logo.svg" height="35" alt="Apple Podcasts logo" asp-append-version="true" />
        </a>

        <a href="https://open.spotify.com/show/1J6CHVXbpERq4s1WQMsHhv" alt="Il link per ascoltare Come nasce un papà su Spotify Podcast">
            <img src="assets/spotify-podcasts-logo.svg" height="35" alt="Spotify Podcasts logo" asp-append-version="true" />
        </a>

        <a href="#" alt="Il link per ascoltare Come nasce un papà su Google Podcast">
            <img src="assets/google-podcasts-logo.svg" height="35" alt="Google Podcasts logo" asp-append-version="true" />
        </a>

        <a href="https://www.spreaker.com/show/come-nasce-un-papa" alt="Il link per ascoltare Come nasce un papà su Spreaker Podcast">
            <img src="assets/spreaker-podcasts-logo.svg" height="35" alt="Spreaker Podcasts logo" asp-append-version="true" />
        </a>
    </div>
</section>

<section id="podcast" class="alt-section">
    <div class="section-content">
        <h3>Il podcast</h3>
        <p><strong>Come nasce un papà</strong> è un progetto totalmente amatoriale che viene dal cuore.</p>
        <div class="text-with-image">
            <img src="assets/come-nasce-un-papà-buongiorno.jpg" asp-append-version="true"
                 alt="Il test di gravidanza di quando ho scoperto di diventare papà"
                 height="300" width="400" />
            <p>
                La mattina del 28 novembre 2019 mi sveglio e Chiara non è a letto con me.
                Mi alzo, senza inforcare gli occhiali, mi dirigo come uno zombie verso la luce che si intravede da sotto la porta,
                cercando di non tirare testate contro le cose.
                Vado in cucina e la trovo col telefono in mano che mi filma:
                c'è un foglio sul tavolo e un aggeggio lì vicino che non distinguo
                perché senza occhiali non vedo neanche le mie mani.<br />
                Mi avvicino, assonnato, e leggo la scritta sul foglio:<br /><strong>Buongiorno papà!</strong>
            </p>
        </div>
        <p>
            Da lì, la mia vita è cambiata:
            i 9 mesi successivi sono stati un turbinio di emozioni che ho deciso di racchiudere in un podcast.
            Non sono un esperto oratore, ma quello che vi racconto in "Come nasce un papà" è tutto vero, altro che se è vero.
        </p>
        <p>
            Non so come si realizzino i <strong>podcast</strong>, ma volevo esprimere quello che provavo mentre
            diventavo un papà: così ho comprato un microfono, ho scritto due righe ed ho iniziato a registrare.
        </p>
    </div>
</section>

<section id="chi-sono">
    <div class="section-content chi-sono">
        <div>
            <h3>Chi sono</h3>
            <p>
                Mi chiamo <strong>Francesco Bonizzi</strong> uno
                <a href="https://www.imaginesoftware.it" target="_blank">sviluppatore software</a> freelance cresciuto a Mantova ma trapiantato
                a Fidenza (Parma) per amore con mia moglie è Chiara e la nostra piccola peste Damiano.
            </p>
            <p>
                Adoro: suonare il <span class="piano-black">p</span>i<span class="piano-black">a</span>n<span class="piano-black">o</span>f<span class="piano-black">o</span>r<span class="piano-black">t</span>e,
                la <span class="montagna-boschi">montagna</span> e i videogiochi.
                Coltivo piantine con la tecnica dell'idroponico, sono vegetariano 💚 e appassionato di scienza 🔬.
            </p>
            <p>
                Il mio piatto preferito, ovviamente, sono i tortelli di zucca mantovani.
            </p>
        </div>
        <div class="francesco-bonizzi-container">
            <img src="assets/francesco-bonizzi.jpg"
                 width="200"
                 height="200"
                 asp-append-version="true"
                 alt="Una foto di Francesco Bonizzi" />
            <h4>Francesco Bonizzi</h4>
            <p>
                Non ho Instagram né Facebook, ma puoi scrivermi quando vuoi su Telegram o
                per email
            </p>
            <p><a href="#contattami">Ecco i miei contatti</a></p>
        </div>
    </div>
</section>

<section id="episodi" class="alt-section">
    <div class="section-content">
        <h3>Episodi</h3>
        <p><strong>In arrivo a brevissimo!</strong></p>
        <!-- <ul>
            <li>
                <h4>EP 01</h4>
                <h5>Divento papà</h5>
                <p>bla bla</p>
                <a href="dove-ascoltare">Ascolta subito</a>
            </li>
        </ul> -->
        <!-- <div itemscope itemtype="https://schema.org/PodcastEpisode" class="episode__entry">
            <h2>
                <a itemprop="url" href="http://www.relay.fm/inquisitive/27">
                    <span itemprop="name">#27: Behind the App #1: History</span>
                </a>
            </h2>
            <small><time itemprop="datePublished" datetime="2015-02-18">February 18th, 2015</time></small>
            <small><time itemprop="timeRequired" datetime="PT37M">37 minutes</time></small>
            <p itemprop="description">
                In the first episode of “Behind the App”, a special series of Inquisitive, we take a look at the
                beginnings of iOS app development, by focusing on the introduction of the iPhone and the App
                Store.
            </p>
            <p itemprop="associatedMedia" itemscope itemtype="https://schema.org/MediaObject">
                Download:
                <a itemprop="contentUrl" href="http://.../Inquisitive_027.mp3">
                    MP3 (<span itemprop="contentSize">25.75 MB</span>)
                </a>
            </p>
        </div> -->
    </div>
</section>

<section>
    <div class="section-content">
        <h3>Curiosità</h3>
        <ul class="yellow-dot">
            <li>Mio suocero fa un'ottima torta alle carote</li>
            <li>Tutti i fatti raccontati riguardano veramente i 9 mesi consecutivi al concepimento</li>
            <li>Cazzo, divento papà! 😮</li>
        </ul>
    </div>
</section>

<section id="contattami" class="alt-section">
    <div class="section-content contacts-section">
        <h3>Vuoi dirmi qualcosa?</h3>
        <ul>
            <li>
                <img src="assets/logo-telegram.png"
                     width="50"
                     height="50"
                     asp-append-version="true"
                     alt="Il logo dell'App di messaggistica Telegram" />
                <div>
                    <span>Scrivimi su Telegram:</span>
                    <a href="https://telegram.me/fbonizzi">@@fbonizzi</a>
                </div>
            </li>
            <li>
                <img src="assets/logo-email.png" alt="Il logo di un'email" width="50" height="50" asp-append-version="true" />
                <div>
                    <span>Scrivimi per email:</span>
                    <a href="mailto:fbonizzi.90@gmail.com">fbonizzi.90@gmail.com</a>
                </div>
            </li>
        </ul>
    </div>
</section>