<section id="dove-ascoltare">
    <div class="section-content podcast-links">
        <h3>Disponibile su</h3>
        <a
            href="https://podcasts.apple.com/us/podcast/come-nasce-un-pap%C3%A0/id1609057474"
            alt="Il link per ascoltare Come nasce un papà su Apple Podcast"
        >
            <img
                src="{{ site.url }}/assets/images/apple-podcast-logo.svg?v=zwPiZZqcGL8olbSnDrsl3rZSXf-9rbI_rrbjL56knDI"
                height="35"
                width="178"
                alt="Apple Podcasts logo"
            />
        </a>

        <a
            href="https://open.spotify.com/show/1J6CHVXbpERq4s1WQMsHhv"
            alt="Il link per ascoltare Come nasce un papà su Spotify Podcast"
        >
            <img
                src="{{ site.url }}/assets/images/spotify-podcasts-logo.svg?v=45pb9wcNnmIF-dyfTombtMXYYGk3TodM47RTvz7zyso"
                width="127"
                height="35"
                alt="Spotify Podcasts logo"
            />
        </a>

        <a
            href="https://www.spreaker.com/show/come-nasce-un-papa"
            alt="Il link per ascoltare Come nasce un papà su Spreaker Podcast"
        >
            <img
                src="{{ site.url }}/assets/images/spreaker-podcasts-logo.svg?v=x6kHyDljLZm9xswXMwvt1gCkxuzJd673ovEk0ETIRrU"
                width="128"
                height="35"
                alt="Spreaker Podcasts logo"
            />
        </a>
    </div>
</section>
