---
layout: skeleton
permalink: /episodi/episodio-5-pensieri-sentieri
isEpisodePage: true

metaTitle: Mese 5 - Pensieri sentieri
metaDescription: "Quando mi trovai in mare aperto onde immense mi travolsero e mi straziarono per rivelarmi amare verità che ignoravo... Il mio giorno sabbatico."

scripts: '<script async src="https://widget.spreaker.com/widgets.js"></script>'
datePublished: 2022-03-08
duration: PT5M
---

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>{{ page.metaTitle }}</h1>
            <h2>
                {{ page.metaDescription }}
            </h2>

            <a class="spreaker-player"
               href="https://www.spreaker.com/episode/48981059"
               data-resource="episode_id=48981059"
               data-width="100%"
               data-height="200px"
               data-theme="light"
               data-playlist="false"
               data-playlist-continuous="false"
               data-chapters-image="true"
               data-episode-image-position="right"
               data-hide-logo="false"
               data-hide-likes="false"
               data-hide-comments="false"
               data-hide-sharing="false"
               data-hide-download="true">Ascolta "Mese 5 - Pensieri sentieri" su Spreaker.</a>
        </div>

    </div>
</section>

{% include disponibileSu.html %}

<section class="alt-section">
    <div class="section-content">
        <h3>Finalmente una boccata d'aria</h3>
        <p>
            Oggi mi sono preso un giorno sabbatico dalla società e con il benestare di Chiara sono andato in montagna da solo. È una donna incredibilmente liberale. E non è mai gelosa.
        </p>

        <p>
            Finalmente una boccata d'aria.
        </p>

        <p>
            Sono a Lagdei nell'appennino Tosco-Emiliano, sono confuso ed ho voglia di camminare fino allo sfinimento.
            Mi allaccio gli scarponi, chiudo lo zaino e inizio a salire. Sono nella faggeta coperta di foglie.
            C'è qualche spruzzata di neve. Gli alberi sono alti ed il laghetto è ghiacciato. L'aria è freddissima e pura.
        </p>

        <p>Amo quest'<strong>assenza</strong>. L'assenza di ogni spirito agli occhi della mia mente, l'assenza di ogni significato in tutto.</p>

        <p>Amo questa presenza. La presenza silenziosa e invisibile di microorganismi, molecole, linfe e cortecce.</p>

        <p><strong>Ogni passo è mio, solo mio.</strong></p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Il freddo, il sudore...</h3>

        <p>
            Il freddo, il sudore, i polpacci tesi, le parole...
            I pensieri diventano più chiari.
            Più la pesto, più vado in profondità.
            Più la pesto, più la neve si scioglie.
        </p>

        <div class="text-with-image">
            <img src="{{ site.url }}/assets/images/come-nasce-un-papà-francesco-bonizzi-montagna.JPG?v=l2EOp1aND8wWc-PBIXGDECtPDMxbujkEwvISTuii1jI"
                 alt="Foto di Francesco Bonizzi in montagna a Lagdei"
                 width="749" height="500" />
        </div>

        <p>
            Il freddo, il sudore, i polpacci tesi, le parole...
            Mentre cammino mi accorgo di viaggiare in vari mondi, la mente è libera.
            Sono in montagna, poi sono in città, poi sono nella giungla, poi sono in un oceano...
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>E continuo il viaggio</h3>

        <p>
            <blockquote>
                Quando mi trovai in mare aperto
                onde immense mi travolsero
                e mi straziarono per rivelarmi
                amare verità che ignoravo
                Verità che dovevo imparare
                Nell'abbraccio dell'oceano
                con un lungo furente fragore
                la solitudine
                divenne per me faro del pensiero
                indicando strade nuove

                […]

                E continuo il viaggio
                alla ricerca ancora
                pur sapendo di essere
                nell'infinito del tempo un istante
                nell'abisso dello spazio un puntino

                E continuo il viaggio
                anche se sono tenebra
                e tutto attorno a me è tenebra
                e la tempesta lo rende più spaventoso

                E continuo il viaggio
                e mi basta
                che io tenebra
                abbia amato la luce

            </blockquote>

            <cite><strong>Viaggio di Alekos Panagulis</strong></cite>
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Siamo al quinto mese</h3>

        <p>
            Siamo al terzo mese, mio figlio o figlia in Italia non è più un embrione ma un feto.
            Pesa 3 o 4 grammi.
            In Chiara si vede un accenno di pancia.
            Tra poco scopriremo se è maschio o femmina.
            Sono pronto ad organizzare tutto: appena torno a casa mi segnerò sul calendario tutte gli appuntamenti: le visite, i giretti informativi, le cose che dovremo comprare.
            Parlerò con i parenti per far sì che ci lascino i nostri spazi e non arrivare a spazientirci.
            Siamo io e lei e le altre persone sono solo l'esterno.
        </p>

        <p>
            Parlerò con Chiara dei miei dubbi e delle mie incertezze. Perché mi sento spaventato e pieno di cose da ricordare e di cui tenere conto, ma so che insieme supereremo ogni cosa.
            <strong>Tutti sono diventati genitori, posso farlo anch'io.</strong>
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content cards-list">
        <h3>Brani musicali</h3>
        <ul class="songs-list">
            <li><p>La sigla: <strong>Everybody Else</strong> di Kara Square e Piero Peluche</p></li>
            <li><p><strong>Discover</strong> di Michael Edward Mclafferty</p></li>
            <li><p><strong>Conversations with angles</strong> di Luke Richards</p></li>
        </ul>
        <p>Di tutti i brani presenti ho acquistato la licenza che me ne consente la pubblicazione</p>
    </div>

</section>

{% include contatti.html %}