---
layout: skeleton
permalink: /episodi/episodio-2-prima-visita
isEpisodePage: true

metaTitle: Mese 2 - La prima visita
metaDescription: "Decima settimana: è due mesi che faccio il test della doppia sberla ogni mattina: pare che io non stia sognando e che sia ancora tutto vero."

scripts: '<script async src="https://widget.spreaker.com/widgets.js"></script>'
datePublished: 2022-02-15
duration: PT5M
---

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>{{ page.metaTitle }}</h1>
            <h2>
                {{ page.metaDescription }}
            </h2>

            <a class="spreaker-player"
               href="https://www.spreaker.com/episode/48659598"
               data-resource="episode_id=48659598"
               data-width="100%" data-height="200px"
               data-theme="light"
               data-playlist="false"
               data-playlist-continuous="false"
               data-chapters-image="true"
               data-episode-image-position="right"
               data-hide-logo="false"
               data-hide-likes="false"
               data-hide-comments="false"
               data-hide-sharing="false"
               data-hide-download="true">Ascolta "Mese 2 - La prima visita" su Spreaker.</a>
        </div>

    </div>
</section>

{% include disponibileSu.html %}

<section class="alt-section">
    <div class="section-content">
        <h3>Decima settimana!</h3>
        <p>
            È due mesi che faccio il test della doppia sberla ogni mattina:
            pare che io non stia sognando e che sia ancora tutto vero.
        </p>

        <p>
            Io e Chiara facciamo 30 cose senza mai fermarci a pensare, guidati dall'euforia:
            <ul class="yellow-dot">
                <li>Fissiamo le visite con la ginecologa</li>
                <li>Informiamo il medico di base</li>
                <li>Decidiamo a chi dirlo</li>
                <li>Inizio a giocare Zelda... No quello l'ho fatto solo io 🤣</li>
                <li>Ci preoccupiamo per la dimensione dell'automobile</li>
                <li>Ci facciamo tante coccole perché siamo tanto felici</li>
                <li>Altre cose bellissime</li>
            </ul>
        </p>

        <p>
            Di giorno in giorno Chiara inizia a temere di non essere più incinta, perché non ha ancora molti sintomi. <br />
            A volte si sente il seno gonfio, a volte è normale, negli ultimi tempi ha fatto altri due test di gravidanza per evitare dubbi.
            Io per fortuna sono quello calmo e razionale della coppia e le mie rassicurazioni funzionano,
            ma ci vuole la dottoressa per chiudere il cerchio.
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Non è facile decidere a chi dirlo subito...</h3>

        <p>
            Perché io e Chiara abbiamo un modo diverso di gestire la tristezza. Chiara preferisce dirlo a più persone per avere conforto in caso andasse male,
        </p>

        <p>
            Io all'opposto preferisco dirlo al minimo numero di persone possibile
            così se dovesse andare male non dovrei tuffarmi nelle frasi di circostanza e il dover parlare, spiegare...
        </p>

        <p>Quando sono triste preferisco rinchiudermi.</p>

    </div>
</section>


<section class="alt-section">
    <div class="section-content">

        <h3>La dottoressa ci spiega una marea di cose</h3>

        <p>
            Ci parla della dieta, zero alcool, zero fumo, ci parla della toxoplasmosi, nomina le malattie cromosomiche più frequenti,
            ci parla di traslucenza, BiTest, ecografia morfologica, riferendo nel dettaglio tutte le percentuali di rischio.
            Una valanga di numeri e probabilità!
        </p>

        <p>
            Quando parla del fatto che l'amniocentesi e la villocentesi, il test più accurato per la verifica di certe malattie cromosomiche,
            abbiano lo 0,05% di probabilità di causare aborto, io e Chiara ci guardiamo
            e tramite la telepatia che abbiamo da sempre ci diciamo che non lo faremo neanche per sogno.
            Anche una minima percentuale di rischio è già troppo.
        </p>

        <p>Per fortuna ci sono altri esami a rischio zero che dicono qualcosa al riguardo.</p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Per un attimo mi isolo</h3>

        <p>
            Mi viene in mente quant'è bello vedere Chiara che dorme vicino a me.<br />
        </p>

        <p>
            Lei va a letto prima, io sto a leggere di fianco a lei un'oretta di solito.
            La sento respirare.
            Qualunque rumore mi ha sempre dato fastidio di notte. Tutti. Mio papà che russava così forte da penetrare qualunque materiale,
            anche tre metri di piombo, i vicini che camminano sul soffitto sottile, le macchine fuori, i netturbini che raccolgono il vetro.
        </p>

        <p>
            Ma soprattutto ho sempre trovato insopportabile il battito del mio cuore.
            A pancia in giù, sento tutto rimbombare. Come se la stanza fosse una caverna vuota ed ogni suono facesse eco.
        </p>

        <p>
            <strong>TUM  TU-TUM</strong>. Martellate. Tonfi.<br />
            Mi hanno sempre messo ansia.<br />
            Per questo dormo sempre sul fianco e mai a pancia in giù.<br />
            Però, quando Chiara russa non mi dà fastidio, perché sento che è viva.<br />
            Però, quando Chiara si gira non mi dà fastidio, perché so che c'è.
        </p>

        <p>
            <strong>Forse l'amore mi fa amare cose che detesto.</strong>
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>Ritorno alla realtà</h3>

        <p>
            Pongo una domanda alla dottoressa e mi prendo subito un bel "adesso glielo spiego, ma non metta ansia a sua moglie" 🤐
        </p>

        <p>Chiara è sul lettino ed io <strong>ho gli occhi incollati allo schermo bianco e nero dell'ecografia.</strong></p>

        <div class="text-with-image">

            <img src="{{ site.url }}/assets/images/come-nasce-un-papà-ecografia.jpg?v=z1aKy9KRtcIqapMRclqkUtDgJ0vqQIApHyDXVMeIWAk"
                 alt="Il test di gravidanza in cui ho scoperto di diventare papà"
                 width="400" height="400" />

            <p>
                La ginecologa mi mostra e mi spiega cosa vedo, ma io sono già ipnotizzato da quel puntino bianco che periodicamente emerge dal buio all'interno di un altro cerchio bianco.<br />
                Oddio che bello.<br />
                Oddio che pace.<br />
                C'è, esiste.<br />
                Che tranquillità, batte.<br />
                È vivo.<br />
                È un suono che mi sembra bellissimo.<br />
                Il mio bimbo adesso esiste ed è una lenticchia di 4mm. <br />
                <strong>Una lenticchia col cuore che batte.</strong>
            </p>

        </div>

        <p>O, come diciamo noi, <strong>una caccola che pulsa.</strong> (come quelle che tiri fuori dal naso! 😁)</p>

    </div>
</section>

<section>
    <div class="section-content cards-list">
        <h3>Brani musicali</h3>
        <ul class="songs-list">
            <li><p>La sigla: <strong>Everybody Else</strong> di Kara Square e Piero Peluche</p></li>
            <li><p><strong>Happy Inspiring Guitar</strong> di ch joy</p></li>
            <li><p><strong>Walk Away from You</strong> di musicpoint</p></li>
        </ul>
        <p>Di tutti i brani presenti ho acquistato la licenza che me ne consente la pubblicazione</p>
    </div>

</section>

{% include contatti.html %}