---
layout: skeleton
permalink: /episodi/episodio-6-biscotto-della-paura
isEpisodePage: true

metaTitle: Mese 6 - Il biscotto della paura
metaDescription: "È UN MASCHIO! È un maschio, ho visto le foto. E c'era anche una manina che mi salutava da sotto la pancia!"

scripts: '<script async src="https://widget.spreaker.com/widgets.js"></script>'
datePublished: 2022-03-15
duration: PT5M
---

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>{{ page.metaTitle }}</h1>
            <h2>
                {{ page.metaDescription }}
            </h2>

            <a class="spreaker-player"
               href="https://www.spreaker.com/episode/49037918"
               data-resource="episode_id=49037918"
               data-width="100%"
               data-height="200px"
               data-theme="light"
               data-playlist="false"
               data-playlist-continuous="false"
               data-chapters-image="true"
               data-episode-image-position="right"
               data-hide-logo="false"
               data-hide-likes="false"
               data-hide-comments="false"
               data-hide-sharing="false"
               data-hide-download="true">Ascolta "Mese 6 - Il biscotto della paura" su Spreaker.</a>
        </div>

    </div>
</section>

{% include disponibileSu.html %}

<section class="alt-section">
    <div class="section-content">
        <h3>Divento papà di un maschietto</h3>
        <p>
            È UN MASCHIO! È un maschio, ho visto le foto. C'era anche una manina che mi salutava da sotto la pancia! Si muoveva, faceva le bollicine, è immensamente reale!
        </p>

        <p>
            Ok ok ok, divento papà di un maschietto, le cose si fanno serie, è arrivata l'ora delle liste di cose da ricordarsi per essere un bravo papà. Ho buttato già alcuni punti su dei Post-It spiegazzati:
        </p>

        <p>
            <ul class="yellow-dot">
                <li>Non dire più parolacce fino ai suoi 18 anni</li>
                <li>Non fare più l'idiota ogni volta che ne hai l'occasione</li>
                <li>Aiutare di più in casa. Chiara sarà stanca e dovrà riposarsi</li>
                <li>Non dare più giudizi avventati e senza riflettere, tuo figlio potrebbe pensare che sia quello il modo giusto di ragionare. Invece NAIN, bisogna prima pensare.</li>
                <li>Non cercare più di insidiare Chiara tutte le volte che ne ho l'occasione</li>
                <li>Vestiti meglio per essere un papà figo</li>
                <li>Risparmiare e occhio ai soldi. Il primo anno che ho lavorato ed ero da solo mi sono ritrovato senza soldi per pagare l'assicurazione dell'auto e sono andato in bici in ufficio tutto il mese. Adesso è improbabile che succeda, ho un bel lavoro, ma meglio non dimenticare.</li>
                <li>Vivere il più a lungo possibile</li>
                <li>Non guardare più il telefono in auto, strettamente legato alla precedente.</li>
                <li>Fare l'assicurazione sulla vita. (corollario a vivere il più a lungo possibile)</li>
                <li>Leggi tante favole e memorizzale per poterle raccontare a comando e sembrare un papà che conosce tante storie.</li>
                <li>Sapere qualcosa di politica. Tutti i papà sanno qualcosa di politica!</li>
                <li>Trovare un modo per non fare come quelle famiglie che li portano al ristorante e lasciano al bambino il tablet in mano tutto il tempo</li>
                <li>Fargli vedere Dragon Ball, Star Wars, Star Trek e gli anime dello Studio Ghibli</li>
            </ul>
        </p>

        <p>
            Mmmmm ok... Rileggendo questa lista a distanza di giorni è chiaro che non io non abbia la minima idea di cosa significhi fare il papà. Ma proprio zero.
        </p>

        <p>
            Però sono stupidamente ottimista, mi viene da pensare che con un minimo di conoscenza e un po' di improvvisazione si potranno gestire i problemi alla giornata. In fondo l'umanità va avanti da più di duemila anni senza master in genitorialità.
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Non siamo per niente razionali</h3>

        <p>
            Ed ecco che vi presento, dalle colline della corteccia cerebrale, direttamente dai meandri del sistema nervoso centrale, uno dei tanti bug degli esseri umani, rullo di tamburi, il bias dell'ottimismo.
        </p>

        <div class="text-with-image">
            <img src="{{ site.url }}/assets/images/come-nasce-un-papa-bias-ottimismo.jpg?v=5tUxpWwSo12CvmFzRDKq-oAiAPRKmva1a3PaZowJIwg"
                 alt="Meme su Super Quark con Piero Angela"
                 width="800" height="400" />
        </div>

        <p>
            I bias cognitivi della nostra mente sono errori di giudizio indotti da intuizioni viscerali che ci portano a decisioni o credenze che non hanno alcun fondamento. In pratica ci piace ritenerci razionali, ma in realtà non lo siamo affatto.
        </p>

        <p>
            L'esempio più classico è la "correlazione illusoria", ovvero quell'errore di pensiero per cui una persona, a fronte di due eventi che accadono insieme nel tempo, è portata a credere che essi siano correlati o che uno causi l'altro.

            C'è un sito bellissimo che si chiama <a href="https://www.tylervigen.com/spurious-correlations">spurious correlations</a> che mostra dei grafici perfettamente sovrapponibili che fanno pensare che due cose inassociabili siano correlate.

            Per esempio fa vedere come il numero di divorzi nel Maine (USA) sia perfettamente correlato con l'aumento del consumo di margarina nello stesso paese!

            Oppure come il numero di film in cui Nicolas Cage recita sia correlato col numero di persone affogate in piscina.

            Queste cose non hanno un rapporto di causa effetto: non hanno alcuna relazione!

            Oddio, su Nicolas Cage non mi sento di fare troppe obiezioni.
        </p>

        <p>
            Per tornare al me irrazionale, il bias dell'ottimismo mi induce a credere che le cose andranno bene, anche se non so niente dell'essere genitore e non ho le basi per dirlo. E quindi mi sembra tutto facilissimo e bellissimo.

            La verità è che sottostimo la possibilità di aborto spontaneo, o di dover stringere la cinghia economicamente parlando, o di tutte quelle difficoltà che non mi stanno venendo in mente.
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>Andrà tutto bene?</h3>

        <p>
            Perché bisogna ammetterlo, l'andrà tutto bene, che valore ha?
        </p>

        <p>Il "saremo per sempre felici e contenti senza inceppi, senza doverci sbattere davvero perché questo accada", che valore ha? </p>

        <p>Parte del significato che attribuiamo all'amore l'abbiamo appreso dalle commedie romantiche o dai libri, o dalle favole. </p>

        <p>Ma le commedie romantiche stanno all'amore come il sesso alla pornografia. </p>

        <p>
            Quindi, in questo momento di lucidità, devo chiedermi: <strong>se andasse tutto storto?</strong>

            Per prima cosa, in tutta sincerità, se andrà male non pubblicherò questo podcast. Quindi se lo stai ascoltando, spoiler, è andato tutto bene!
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Il biscotto della paura</h3>

        <p>
            Mentre guardavo la mia lista delle liste con l'intento di sintetizzare tutto in un'unica voce, avevo un biscotto nel piatto a forma di omino.
            <br />
            L'ho preso in mano, l'ho guardata sopra sotto, davanti e dietro. L'ho assaggiato.
            <br />
            Per evitare il secondo ed ultimo morso, si è messo a chiaccherare.
            <br />
            Mi ha detto che la mia famiglia è stata un disastro e che io non sarò meglio di loro.
            <br />
            Mi ha detto che non farò più l'amore con mia moglie.
            <br />
            Mi ha detto che non dormirò più e che non avrò più un solo spazio mio.
            <br />
            Che io e Chiara diventeremo qualcosa di diverso e quello che c'era prima sparirà.
            <br />
            Mi ha detto che non sono all'altezza di insegnare qualcosa a qualcuno, nemmeno di mantenere la calma quando serve.
            <br />
            Nemmeno di avere la pazienza.
            <br />
            Che sarò troppo nervoso.
            <br />
            Troppo soffocato.
            <br />
            Che sarò troppo poco.
        </p>

        <p>
            Ho preso il mio biscotto della paura, l'ho ringraziato, (grazie biscotto) e me lo sono mangiato tutto.

            Bene, adesso che siamo diventati un tutt'uno, posso cancellare tutto dalla lista e <strong>scrivere l'unica cosa veramente importante.</strong>
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content cards-list">
        <h3>Brani musicali</h3>
        <ul class="songs-list">
            <li><p><strong>Probing Brief</strong> di Paul Mottram</p></li>
            <li><p><strong>Air on G String</strong> di Ben Parry (PRS) e Alexander L'Estrange (PRS)</p></li>
            <li><p><strong>Fire brigate</strong> di Drew Gonsalves, Campbell e Browning, Pablo Love, Ivan Duran</p></li>
        </ul>
        <p>Di tutti i brani presenti ho acquistato la licenza che me ne consente la pubblicazione</p>
    </div>

</section>

{% include contatti.html %}