---
layout: skeleton
permalink: /episodi/episodio-1-divento-papa
isEpisodePage: true

metaTitle: Mese 1 - Divento papà
metaDescription: "La mattina del 28 novembre 2019 mi sveglio e Chiara non è a letto con me... Mi avvicino, assonnato, e leggo la scritta sul foglio: Buongiorno papà!"

scripts: '<script async src="https://widget.spreaker.com/widgets.js"></script>'
datePublished: 2022-02-09
duration: PT5M
---

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>{{ page.metaTitle }}</h1>
            <h2>
                {{ page.metaDescription }}
            </h2>

            <a class="spreaker-player"
               href="https://www.spreaker.com/episode/48639795"
               data-resource="episode_id=48639795"
               data-width="100%"
               data-height="200px"
               data-theme="light"
               data-playlist="false"
               data-playlist-continuous="false"
               data-chapters-image="true"
               data-episode-image-position="right"
               data-hide-logo="false"
               data-hide-likes="true"
               data-hide-comments="true"
               data-hide-sharing="false"
               data-hide-download="true">Ascolta "Mese 1 - Divento papà" su Spreaker.</a>
        </div>

    </div>
</section>

{% include disponibileSu.html %}

<section class="alt-section">
    <div class="section-content">
        <h3>Cazzo divento papà 🌩️</h3>
        <p>
            Ma andiamo con ordine.
        </p>

        <p>
            Mi chiamo Francesco, ho 29 anni e ho scelto te come confessore. Invece del prete. (Che fortuna...!)<br />
            I migliori mi chiamano Francesco, Fra o Boniz. Quelli antipatici Frencyyyyyy.<br />
            Di giorno sviluppo software e nel tempo libero, ovvero di notte, creo videogiochi open source o cose misteriose come questo podcast.
        </p>

        <p>
            Quando i miei amici parlano di me, mi vendono così:
            <ul class="yellow-dot">
                <li>Ah guarda ha arredato la sua cantina e il garage con delle stampe di Kandinskij e Keith Haring</li>
                <li>Tutte le volte che gli viene in mente Forrest Gump urla "Tenente daaaaaan"</li>
                <li>Riesce a storpiare qualunque canzone introducendo la cacca e mantenendo la metrica e le rime</li>
                <li>Quando va in montagna a camminare anche dopo 30km non sente dolore ai piedi. È ovvio che ci sia qualcosa che non va. Secondo me a metà prende l'OKI di nascosto!</li>
                <li>Sembra avere un tasto che può premere a piacimento per spegnere le inibizioni</li>
                <li>Passa da momenti di serietà a momenti di demenza in due minuti scarsi</li>
            </ul>
        </p>

        <p>
            Parliamo di Chiara, mia moglie: è una giornalista freelance. È bellissima, sa tantissimissime cose,
            quando canta m'incanta, e insieme ridiamo sempre.<br />
            Diciamo tante stupidate. Tutti e due eh... Però prendo dello stupido solo io!
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Ok, ho introdotto quasi tutti personaggi</h3>

        <p>
            Ma non ti ho ancora detto perché sono qui con te!
            Eh perché mi sono ritrovato in questa situazione e te ne voglio parlare...

            È da una settimana che:
            <ul class="yellow-dot">
                <li>Chiara dorme pochissimo</li>
                <li>Ma si sente sempre stanca e spossata</li>
                <li>Continua a fare la pipi</li>
                <li>Le fa male il seno, quindi non si può più toccare uffa</li>
                <li>Ha la bocca amara</li>
                <li>Ha qualche sbalzo d'umore, e lo dico a voce bassa voce perché con i suoi poteri mogliefici potrebbe anche avermi sentito</li>
            </ul>
        </p>

        <p>
            Non voglio fare troppo l'ottimista per non creare le premesse di una delusione…
            Alla fine la maggior parte dei sintomi che Chiara prova sono comuni a influenza o stati mestruali,
            Senza per forza tirare in ballo la <strong>gravidanza</strong>.
        </p>

        <div class="text-with-image">

            <img src="{{ site.url }}/assets/images/come-nasce-un-papà-buongiorno.jpg"
                 alt="Il test di gravidanza in cui ho scoperto di diventare papà"
                 width="400" height="300" />

            <p>
                La mattina del 28 novembre 2019 mi sveglio e lei non è a letto con me.
                Mi alzo, senza inforcare gli occhiali, mi dirigo come uno zombie acefalo verso la lucina che si intravede da sotto la porta,
                cercando di non tirare testate contro le cose.
                Vado in cucina e la trovo col telefono in mano che mi filma, ma io appena sono sveglio non capisco mai niente!
                C'è un foglio sul tavolo e un aggeggio lì vicino che non distinguo perché senza occhiali non vedo neanche le mie mani.
                <br /><br />Mi avvicino, assonnato, e leggo la scritta sul foglio: <strong>Buongiorno papà!</strong>
            </p>

        </div>

        <p>
            Mi attraversa una scarica elettrica da 10 miliardi di Volt, mi sveglio di colpo, riconosco il test di gravidanza,
            le corro addosso come un orso bruno che ha avvistato il miele più dolce della sua vita e la abbraccio con ogni cellula del mio corpo,
            con ogni parte di me,
            la abbraccio con tutto ciò che sono, che sono stato, che sarò, che non so di essere.
        </p>
        <p>
            <strong>Cazzo divento papà.</strong>
        </p>
    </div>
</section>

<section class="alt-section">
    <div class="section-content cards-list">
        <h3>Brani musicali</h3>
        <ul class="songs-list">
            <li><p>La sigla: <strong>Everybody Else</strong> di Kara Square e Piero Peluche</p></li>
            <li><p><strong>Straight Ahead</strong> di David Tobin</p></li>
            <li><p><strong>Golden Sun</strong> di Edward Hogston</p></li>
            <li><p><strong>Made of Stone</strong> di Bruce Maginnis</p></li>
            <li><p><strong>Keep Pace</strong> di David Kelly</p></li>
        </ul>
        <p>Di tutti i brani presenti ho acquistato la licenza che me ne consente la pubblicazione</p>
    </div>

</section>

{% include contatti.html %}