---
layout: skeleton
permalink: /episodi/episodio-8-coronavirus
isEpisodePage: true

metaTitle: Mese 8 - Coronavirus
metaDescription: "Nella realtà nessun cerchio è prefetto, nessun contesto è completamente chiuso, le simmetrie sono solo delle approssimazioni"

scripts: '<script async src="https://widget.spreaker.com/widgets.js"></script>'
datePublished: 2022-03-29
duration: PT10M
---

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>{{ page.metaTitle }}</h1>
            <h2>
                {{ page.metaDescription }}
            </h2>

            <a class="spreaker-player"
               href="https://www.spreaker.com/episode/49222622"
               data-resource="episode_id=49222622"
               data-width="100%"
               data-height="200px"
               data-theme="light"
               data-playlist="false"
               data-playlist-continuous="false"
               data-chapters-image="true"
               data-episode-image-position="right"
               data-hide-logo="false"
               data-hide-likes="false"
               data-hide-comments="false"
               data-hide-sharing="false"
               data-hide-download="true">Ascolta "Mese 8 - Coronavirus" su Spreaker.</a>

        </div>

    </div>
</section>

{% include disponibileSu.html %}

<section class="alt-section">
    <div class="section-content">
        <h3>Cazzo divento papà 🌩️</h3>
        <p>
            Ma andiamo con ordine.
        </p>

        <p>
            Mi chiamo Francesco, ho 29 anni e ho scelto te come confessore. Invece del prete. (Che fortuna...!)<br />
            I migliori mi chiamano Francesco, Fra o Boniz. Quelli antipatici Frencyyyyyy.<br />
            Di giorno sviluppo software e nel tempo libero, ovvero di notte, creo videogiochi open source o cose misteriose come questo podcast.
        </p>

        <p>
            Quando i miei amici parlano di me, mi vendono così:
            <ul class="yellow-dot">
                <li>Ah guarda ha arredato la sua cantina e il garage con delle stampe di Kandinskij e Keith Haring</li>
                <li>Tutte le volte che gli viene in mente Forrest Gump urla "Tenente daaaaaan"</li>
                <li>Riesce a storpiare qualunque canzone introducendo la cacca e mantenendo la metrica e le rime</li>
                <li>Quando va in montagna a camminare anche dopo 30km non sente dolore ai piedi. È ovvio che ci sia qualcosa che non va. Secondo me a metà prende l'OKI di nascosto!</li>
                <li>Sembra avere un tasto che può premere a piacimento per spegnere le inibizioni</li>
                <li>Passa da momenti di serietà a momenti di demenza in due minuti scarsi</li>
            </ul>
        </p>

        <p>
            Parliamo di Chiara, mia moglie: è una giornalista freelance. È bellissima, sa tantissimissime cose,
            quando canta m'incanta, e insieme ridiamo sempre.<br />
            Diciamo tante stupidate. Tutti e due eh... Però prendo dello stupido solo io!
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">
        <h3>I cerchi non esistono</h3>
        <p>
            Va a tutto bene: hai un bel lavoro, una bella moglie, un figlio in arrivo, l’estate alle porte.
        </p>

        <p>
            Da questa distanza la tua vita sembra un cerchio perfetto, costruito col compasso, che tiene fuori, per alcuni momenti, i fatti con cui non si può convivere: la guerra, la fame, il pianeta che stiamo colpevolmente distruggendo.
        </p>

        <p>
            Ma poi arriva una riga che si ispessisce e rompe la simmetria.
        </p>

        <p>
            Eh nella realtà nessun cerchio è prefetto, nessun contesto è completamente chiuso, le simmetrie sono solo delle approssimazioni.
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Il teorema del platano</h3>

        <p>
            Ti stupisci. Sei pur sempre nato e vissuto nellla bambagia, non sai cosa siano realmente le malattie, la paura di morire.<br />
            Ma per il teorema del platano dici che tanto è solo in Cina.<br />
            Solo in Cina e Corea. <br />
            È anche in Italia. <br />
            Ma solo a Codogno, dai. <br />
            Merda è anche a Milano. E in Emilia.
        </p>

        <p>
            Hanno chiuso le scuole e i teatri. Andare a lavorare in ufficio comunque mantiene un certo senso di normalità. Si può sdrammatizzare con i colleghi meno spaventati.
            Hanno chiuso gli uffici e decretato che bisogna anticipare il più possibile le ferie o lavorare da remoto. <br />
            Ci sta. Meglio prevenire che curare. <br />
            Così sei a casa. E cerchi di essere ottimista. In casa sei più al sicuro che fuori. Forse. Sei pur sempre chiuso in casa. E devi evitare accuratamente l'esterno, per sicurezza del tuo piccolo e di tua moglie
            Riorganizzi la vita. Mi aspetta un mese davanti. <b>Cerca il lato positivo</b>, cerca il lato positivo!<br />
            Il lato positivo è che sei un solitario, quindi privato momentaneamente di qualche libertà non ti senti male.
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>Il lato positivo?</h3>

        <p>

            Al netto della lieve preoccupazione che nutro per mio papà (iperteso), mia nonna (94 anni), e mia mamma (infermiera che lavora in prima linea), negli sprazzi di ottimismo posso dire che in quarantena mi sento un pascià perché:

            <ul class="yellow-dot">
                <li>Sto tutto il giorno in pigiama</li>
                <li>Sto tutto il giorno con mia moglie che ogni tanto passa a farmi una coccolina</li>
                <li>Posso guardare fuori dalla finestra e ogni tanto una gazza od una cinciallegra passano a salutarmi appoggiandosi su un filo elettrico teso tra il mio condominio ed il successivo</li>
                <li>Non devo fare un'ora e mezza di automobile tutti i giorni…</li>
                <li>…quindi mi sveglio più tardi</li>
                <li>…quindi ho un sacco di tempo per suonare, scrivere e leggere</li>
                <li>…quindi allo scattare delle 18 sono già pronto per prendere una boccata d'aria senza dover attraversare la tangenziale. In definitiva faccio anche più attività fisica di prima</li>
                <li>Nessuno viene a disturbarmi mentre lavoro, la mia concentrazione e produttività sono alle stelle</li>
            </ul>
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Pandemia</h3>

        <p>
            L'OMS dice che è una pandemia. Adesso in Italia non si può uscire nemmeno a prendere una boccata d'aria. <br />
            Ah. <br />
            A meno di fare i giri in tondo intorno a casa tua sé non hai il giardino. Noi non abbiamo in giardino.
        </p>

        <p>
            Pizza, patatine fritte, per compensare!
            Troppa pizza, troppe patatine fritte,
            troppi cioccolatini,
            cazzo,
            mi scordo il compleanno di mio papà, che coglione,
            non respiro aria fresca da settimane, sono sempre in pigiama.
            Almeno lavoro, dai.
            Cassa integrazione.
            Vabbè, finisco Zelda. Quest preferita, quella di Cantabrico.
            Zelda finito, 80 ore,
            da quant'è che non avevo questo tempo per giocare?
        </p>

        <p>
            Pizza, patatine, mi scordo il compleanno di mia mamma. Per involontaria par condicio.
            Massa sulla bilancia in aumento lineare.
            Mi scordo una sera di fare la doccia.
            Ho meno voglia di fare l'amore, ho meno voglia di masturbarmi, ho finito il catalogo di Netflix.
            Pizza, patatine, per compensare, poi dati, grafici, TV, non un metro cubo d'aria fresca.
        </p>

        <p>
            La notte mi sveglio due o tre volte.<br />
            La mattina apro gli occhi e ho un po' d'ansia.<br />
            Ok, la cosa inizia a pesare sul serio. <br />
            Non ho nemmeno più paura del virus, voglio solo uscire e fare le mie belle passeggiate in campagna. <br />
            Ridere con i miei amici davanti a una coca cola. <br />
            Sentire un po' di corpi. <br />
            Baciare, abbracciare qualcuno in più. Mi accontento anche di pacche sulla spalla. Basta qualcosa di più.
        </p>

        <p>
            Ma anche gli altri sono cambiati. Sono più cupi. Più no, dai, insomma, non lo so, si all'aperto va bene, ma non lo so, dai, vediamo come va, e alla fine niente.
        </p>

        <p>
            Chiara si agita, perché sua mamma ha la febbre.
            Ascolta attentamente ogni respiro per sentire se c'è qualcosa di diverso dal solito.
            Non voglio, ma lo faccio anche io.
            I media ci bombardano di numeri.
            Numeri che fanno paura. Perché crescono. Si avvicinano.
            Numeri alieni che presto ti verranno a rapire.
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>Il diritto di cagarsi addosso</h3>

        <p>
            Vuoi il diritto di spaventarti. Di cagarti addosso.
            Da una parte non puoi, perché tua moglie ha bisogno di te, della tua calma, della tua impassibililità.
            Sì, te l'ha insegnato tuo papà quando morì il nonno.
            Al suo funerale non pianse, ma sostenne la nonna. Era così inossidabile, all'esterno, per lei, perché l'amava e doveva sostenerla. Era un dovere innato.
            Allora ingurgiti la paura.
            Studi le informazioni, studi i numeri. Te ne intendi di statistica.
        </p>

        <p>
            Cerchi un Database aggiornato in tempo reale, metti i valori sugli assi.
            Ti poni delle domande. Valuti le variabili ed i possibili vizi statistici. Stai attento al paradosso di Simpson.
            Cerchi di darti delle risposte.
            Alle quali non sarà facile credere.
            Scopri che qualcuno ha letto di dati come te.
            Cerchi qualcuno che abbia un'ipotesi contraria.
            Cerchi qualcuno con un'ipotesi controversa e impopolare.
            Prendi tutti e le ripensi sulla base dei tuoi dati.
        </p>

        <p>
            Sembra che il contagio abbia una crescita esponenziale.
            Che la mortalità sia sensibile solo per persone con patologie pregresse.
            Il mio pensiero va alla mia nonnina, e a mio papà, ipertesto.
            Mia mamma è in prima linea in ospedale.
            E a mio figlio, nel ventre di Chiara.
        </p>

        <p>
            Leggo delle persone che scappano da Milano e vanno al sud, con il solo effetto di contagiare i loro cari.
            D'istinto pensi che siano dei coglioni.
            Poi ci ripensi, poi ci ripenso e punti il dito contro i media.
            Che da settimane fanno la conta. Non hanno una linea comune. Da esperti di comunicazione devono tenere conto delle dinamiche antropologiche che possono scaturire da una notizia del genere e proporla nel modo corretto.
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Troppa polemica</h3>

        <p>
            Poi capisci che stai polemizzando troppo. Che punti troppo il dito, che stai diventando troppo teso. Di solito non sei così. La polemica se non fai nulla è sterile, fine.
        </p>

        <p>
            Quindi studi, impari, nel silenzio.
            Per farti una tua idea e per poterla giustificare.
            Ti consulti con i tuoi colleghi e amici che ne sanno più di te.
            Trovate punti in comune.
            E impari tutto quello che non sapevi prima di statistica. Le curve logistiche per esempio.
            Tutto quello che non sai di medicina.
            Per rassicurare, per rassicurart.
            Per comportarti correttamente.
            Per aiutare gli altri.
            Perché <b>la conoscenza ti aiuta a non farti rapire dai pensieri alieni e distruttivi, dalla paura innata di morire che porta alla negazione e alla rabbia.</b> Se non sai le cose finisci solo per parlare per rutto libero.
        </p>

        <p>
            Hai sempre una parte del cervello che rimugina su questo.
            L'altra è impegnata ad essere dolce, premuroso, ad esserci. A non cedere al panico, a sostenere.
            A sostenere.
            Invii un messaggio alle persone a cui vuoi bene per sentire come si sentono.
            Offri il tuo appoggio psicologico.
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>Il papà sei tu</h3>

        <p>
            Passa un mese... Ancora tutto chiuso.<br />
            E le cose peggiorano.<br />
            Passano due settimane.<br />
            Tra un mese Damiano nascerà ed io potrò entrare con Chiara? Ah mi pianto Davanti alla porta. Non posso mancare, devo esserci.
        </p>

        <p>
            Sogni di scappare da mille mostri che ti inseguono.<br />
            Sogni guerre.<br />
            Ti svegli col cuore in gola.<br />
            Vorresti chiamare il tuo papà per scacciare i mostri. O per chiedergli di dormire con te.
        </p>

        <p>
            <b>Ma il papà adesso sei tu.</b>
        </p>

    </div>
</section>

<section>
    <div class="section-content cards-list">
        <h3>Brani musicali</h3>
        <ul class="songs-list">
            <li><p>La sigla: <strong>Everybody Else</strong> di Kara Square e Piero Peluche</p></li>
            <li><p><strong>Dirty Hands</strong> di Jeremy Korpas</p></li>
            <li><p><strong>Early Flight</strong> di Silent Partner</p></li>
            <li><p><strong>Kurt</strong> di Cheel</p></li>
            <li><p><strong>The Itch (instrumental)</strong> di NEFFEX</p></li>
        </ul>
        <p>Di tutti i brani presenti ho acquistato la licenza che me ne consente la pubblicazione</p>
    </div>

</section>

{% include contatti.html %}