---
layout: skeleton
permalink: /episodi/episodio-3-iniziano-le-nausee
isEpisodePage: true

metaTitle: Mese 3 - Iniziano le nausee
metaDescription: "Chiara dorme poco, è stanca ed ha nausee frequenti che cerca di blandire mangiando a piccole dosi..."

scripts: '<script async src="https://widget.spreaker.com/widgets.js"></script>'
datePublished: 2022-02-22
duration: PT5M
---


<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>{{ page.metaTitle }}</h1>
            <h2>
                {{ page.metaDescription }}
            </h2>

            <a class="spreaker-player"
               href="https://www.spreaker.com/episode/48781873"
               data-resource="episode_id=48781873"
               data-width="100%"
               data-height="200px"
               data-theme="light"
               data-playlist="false"
               data-playlist-continuous="false"
               data-chapters-image="true"
               data-episode-image-position="right"
               data-hide-logo="false"
               data-hide-likes="false"
               data-hide-comments="false"
               data-hide-sharing="false"
               data-hide-download="true">Ascolta "Mese 3 - Iniziano le nausee" su Spreaker.</a>
        </div>

    </div>
</section>

{% include disponibileSu.html %}

<section class="alt-section">
    <div class="section-content">
        <h3>Iniziano le nauseeee!</h3>
        <p>
            Chiara dorme poco, è stanca ed ha nausee frequenti che cerca di blandire mangiando a piccole dosi.
            Ed è tutta una questione di attimi: il minuto prima canta le sigle dei cartoni,
            un minuto dopo è stramazzata sul divano tra le braccia di Morfeo.
        </p>

        <p>
            Bene, come ogni potenziale papà che si rispetti, è venuto il momento di fare la mia parte in casa.
            Quindi mi faccio avanti per primo e mi offro per le adoratissime pulizie domestiche:
            a scuola se ti facevi interrogare subito partivi bene.
        </p>

        <p>
            Ecco i miei propositi di papà virtuoso!
            <ul class="yellow-dot">
                <li>Stendo i panni quando trovo le lavatrici terminate</li>
                <li>Rompo il salvadanaio e decido di portare sempre le camicie a far stirare e lavare in lavanderia, così prendo due piccioni con una fava: io sono bello pulito e ordinato, Chiara non si stanca.</li>
                <li>La lavastoviglie è compito mio dal riempimento alla vuotatura quando sono a casa</li>
                <li>Tutte le mattine prima di andare a lavorare le preparo la colazione e riordino un po' il soggiorno</li>
                <li>Il sabato mattina pulisco a fondo i due bagni e tiro l'aspirapolvere in tutta la casa</li>
                <li>Pulisco filtri di doccia e lavandini appena vedo che l'acqua fa fatica a scendere</li>
            </ul>
        </p>

        <p>PS. Se il prossimo episodio non arriverà, significa che mi è caduto il Folletto e sono stato defenestrato.</p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Il Profumo di Patrick Süskind</h3>

        <p>
            "Al tempo di cui parliamo nella città regnava un puzzo a stento immaginabile per noi moderni.
            Le strade puzzavano di letame, i cortili interni di orina, le trombe delle scale di legno marcio e di sterco di ratti,
            le cucine di cavolo andato a male e di grasso di montone;
            le stanze non areate puzzavano di polvere stantia,
            le camere da letto di lenzuola bisunte,
            dell'umido dei piumini e dell'odore pungente e dolciastro di vasi da notte.
            …
            La gente puzzava di sudore e di vestiti non lavati;
            dalle bocche veniva un odore di denti guasti,
            dagli stomaci un puzzo di cipolla…"
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>Il super-potere della donna incinta</h3>

        <p>
            Ma al di là di questo, la cosa preoccupante, strettamente legata al senso di vomito è il suo nuovo <strong>super-potere</strong>,
            quello che ogni rozzo animale da baita come me teme più di ogni altra cosa: l'olfatto ipersviluppato.
        </p>

        <p>
            E questo è veramente pericoloso per me.
            Perché il lievissimo effetto collaterale è che adesso per lei <strong>tutto puzza</strong>.
            Anche io, che ovviamente puzzo sempre, anche se sono appena uscito dalla doccia: sapone di Marsiglia, deodorante alle 4 erbe, boroctalco.
        </p>

        <p>
            È diventato un regime di terrore: se mi lavo male un'ascella da un momento all'altro potrebbe piombarmi addosso stile
            ispettore delle SS! GUTEN TAAAG SONO QUI PER UNA NORMALE ISPEZIONE DI ODORE IAH!
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Scoreggiare a letto</h3>

        <p>
            Il lato positivo è che se la porto a cercare tartufi diventiamo ricchi. 
        </p>

        <p>Amore, eravamo d'accordo: <strong>quando scoreggi devi farla uscire dal tuo lato del letto.</strong></p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content cards-list">
        <h3>Brani musicali</h3>
        <ul class="songs-list">
            <li><p>La sigla: <strong>Everybody Else</strong> di Kara Square e Piero Peluche</p></li>
            <li><p><strong>Plinky Plonk Rag</strong> di Jody Jenkins</p></li>
            <li><p><strong>Down low</strong> di Neil Sidwell</p></li>
            <li><p><strong>Fool's Gold</strong> di David O'Brien</p></li>
        </ul>
        <p>Di tutti i brani presenti ho acquistato la licenza che me ne consente la pubblicazione</p>
    </div>

</section>

{% include contatti.html %}