---
layout: skeleton
permalink: /episodi/episodio-7-preparare-il-nido
isEpisodePage: true

metaTitle: Mese 7 - Preparare il nido
metaDescription: "Preparare il nido significa costruire un luogo invitante per accogliere la cosa più bella del mondo... "

scripts: '<script async src="https://widget.spreaker.com/widgets.js"></script>'
datePublished: 2022-03-22
duration: PT10M
---

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>{{ page.metaTitle }}</h1>
            <h2>
                {{ page.metaDescription }}
            </h2>

            <a class="spreaker-player"
               href="https://www.spreaker.com/episode/49125197"
               data-resource="episode_id=49125197"
               data-width="100%"
               data-height="200px"
               data-theme="light"
               data-playlist="false"
               data-playlist-continuous="false"
               data-chapters-image="true"
               data-episode-image-position="right"
               data-hide-logo="false"
               data-hide-likes="false"
               data-hide-comments="false"
               data-hide-sharing="false"
               data-hide-download="true">Ascolta "Mese 7 - Preparare il nido" su Spreaker.</a>
        </div>

    </div>
</section>

{% include disponibileSu.html %}

<section class="alt-section">
    <div class="section-content">
        <h3>La scelta del nome</h3>
        <p>
            Marco, Andrea, Leonardo, Francesco, Matteo, no dai, meno comune. Oppure lo chiamiamo VORBIS (no che poi mi diventa un CUOCO MOLECOLARE)!<br />
            Davide, Emanuele, Gioele, Gabriele... troppo cantilentante?<br />
            Lucio, Rodolfo, Gian Marco Vito, forse troppo altisonanti?<br />
            Achille, Patroclo, Licurgo, troppo grecisti!<br />
            Ci piacciono tutti, anzi nessuno.<br />
            Ho trovato! Lo chiamiamo AJEJEJEJE BRAZORF 😁
        </p>

        <p>
            Oppure... Damiano. Damiano, damiano-damiano, Damiiiiiaaaaaano. DamianoDamiano. Damiano
            La prima obiezioni che ci é stata rivolta: Eh ma fa rima con anoooo. Vabbè amen non posso controllare tutte le rime.
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Il tempo vola</h3>

        <p>
            I giorni scorrono veloci: mi sveglio, cercando di non fare rumore, mi vesto in sala con i vestiti che ho preparato la sera prima.
            Faccio colazione con latte di soia, caffè e muesli. Mi metto in macchina, lasciando il telefono nel baule se no non resisto alla tentazione, mi distraggo, e mi schianto.
        </p>

        <p>
            Di lavoro sviluppo software. Scrivo codice, non sono un hacker come Mr. Robot.
            Non cracko WhatsApp ai partner gelosi e non leggo la matrice.
            Progetto e realizzo interfacce, siti internet, App Android e iOS, Database,
            sono quello che si chiama sviluppatore full stack. (La mia piaccola attività si chiama <a href="https://www.imaginesoftware.it" target="_blank">Imagine Software</a>)
        </p>

        <p>
            Le mie giornate scorrono così: "Ciao amore, vado!", "Ciao cari colleghi cosa si sviluppa oggi?",
            accendo il computer, mi arrabbio perché è troppo lento. Scrivo tanto codice,
            mi faccio la mia pausa pranzo da solo in tranquillità al campus di Parma,
            torno a casa, faccio metano, mi fermo a prendere due o tre cose al supermercato. <br />
            Ciao amore, bacio, doccia, cenetta.
        </p>

        <p>
            Lei guarda la TV, io non ho voglia, non ho quasi mai voglia di TV.<br />
            Mi metto col portatile sul divano a scrivere questo podcast.
            Questo mese sto guardando un anime che si chiama "Bugie d'Aprile, mi piace molto.
            <div class="text-with-image">
                <img src="{{ site.url }}/assets/images/come-nasce-un-papà-bugie-aprile.jpg?v=OPtpjvW-WO-naJkBS0G6pH62-kENL86w-kYYRbeUPTM"
                     alt="Immagine dell'anime Bugie D'Aprile"
                     width="800" height="444" />
            </div>
            Parla di crescita e parla di musica. Chiara non lo voleva vedere, non le piacciono gli anime per una questione di stile di disegno.
            Non si ritrova con i disegni, le animazioni.
            Però mentre lo guardavo sulla TV in sala, mentre faceva le sue cose, con la coda dell’occhio dava delle sbirciatine...
            Era l’ultimo episodio. Ad un certo punto me la ritrovo di fianco che piange.
            <strong>EFFETTO ANIME.</strong><br /><br />
            Ci abbracciamo e piangiamo come delle fontane.
        </p>

        <p>
            I vicini fanno sempre casino, i tappi non sono sufficienti.
            Quindi metto chiara a nanna, le do tanti bacini, le rimbocco le coperte ed escogito uno dei tanti piani immaginari per farli andare via,
            come mettere tanti altorparlanti alle loro finestre e far uscire voci di fantasmi,
            così che pensino che la casa è infestata e vadano via! Ah-ah! Mentre fantastico su questo mi giro verso chiara ed in un nanosecondo
            è già pietrificata: immobile, non emette suoni, a volte mi avvicino per essere sicuro che respiri. <strong>Mia moglie è un MENHIR.</strong>
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>Ho letto molto in questi mesi</h3>

        <p>
            Io invece mi accendo una lucina ed inizio a leggere, o a giocare con la Switch.
            In quelle due ore che ci separano dall'incontrarci nel mondo dei sogni, ogni tanto mi volto e la guardo. Sta andando tutto a meraviglia.
        </p>

        <p>
            Ho letto tantissimo in questi mesi:

            <ul class="yellow-dot">
                <li>"Il magico potere del riordino" → che ti spiega la forma mentis necessaria per essere ordinati, io sono già molto ordinato e maniaco delle posizioni delle cose, però un ripasso non guasta mai. Molto prolisso ma se cogli il significato funziona.</li>
                <li>"Il gene egoista", parla di evoluzionismo</li>
                <li>"Elogio dell'imperfezione", la biografia di Rita Levi Montalcini, che donna. Che costanza. Si è costruita un laboratorio in camera da letto durante le purghe degli Ebrei per continuare le sue ricerche.</li>
                <li>"Hack!", Margherita hack e le stelle. Quanto amo le stelle, i pianeti, i razzi, i telescopi, le nebulose, i corpi celesti. I buchi neri. Se si notte alzo gli occchi al cielo sono suggestionato.</li>
            </ul>
        </p>

        <p>Come scriveva Kant nella Critica alla ragion pratica: Due cose riempiono l’animo di ammirazione e venerazione sempre nuova e crescente: il cielo stellato sopra di me, e la legge morale in me.</p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Sfatiamo qualche luogo comune</h3>

        <ul class="yellow-dot">
            <li>Tra i luoghi comuni c’è che le donne in gravidanza hanno più voglia di fare sesso. Alla mia non é successo (uffa), tutto nella norma diciamo anzi più scomodo: girati di qua, girati di là, più su più giù più destra più sinistra... Eh vabbè.</li>
            <li>È bellissimo avere la pancia: nel nostro caso mica tanto. Dopo un po'' è impegnativa. Siamo nel periodo in cui Chiara, comprensibilmente, non ne può più della pancia. Si sente un pallone aerostatico e vorrebbe solo che Damiano uscisse, tipo adesso. In più la pancia tiene caldo. </li>
            <li>Sbalzi d'umore tanto importanti che  gli uomini devono girare col giubbotto antiproiettile in Kevlar. Direi di no. E’ più coccolona e questo è sempre bello. Ogni tanto si emoziona più del solito, ma chissà che fatica abbracciarla una volta in più.</li>
        </ul>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>Damiano scalcia</h3>

        <p>
            La cosa migliore di questo mese é che sentiamo il mini Damiano scalciare quotidianamente.
            Lo sento con la mano, sembra che non stia mai fermo. Chiara dice già che é colpa mia, che neanche io sto mai fermo,
            che non riesco a stare mezz’ora sul divano e che di notte parlo e mi muovo.
        </p>

        <p>
            Quando c’è la musica Damiano si muove di più, chissà se é perché gli piace o perché gli dà fastidio ed é tipo me con i vicini "basta fare casinooooo!".
            Noi gli facciamo sentire qualcosa, dicono che Mozart faccia diventare i bimbi nella pancia intelligenti...
            uuuuh immagino che studi approfonditi e che correlazione causale giustificatissima ci sia.
            Gli faccio ascoltare un po’ di tutto: Chopin suonato da Pollini, Schumann dalla Argherich, Bach da Glenn Gould, Le sinfonie di Schubert, Beethoven…
        </p>

        <p>
            In questo periodo facciamo un sacco di foto con la pancia, per avere dei bei ricordi.
            Ho fotografato Chiara ogni mese nello stesso punto posizione e prospettiva per avere la progressione della crescita della pancia.
            É impressionante.
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Preparare il nido</h3>

        <p>Preparare il nido significa costruire un luogo invitante, sicuro e caldo per accogliere la cosa più bella del mondo. Inizi a chiederti a cosa lui vedrà quando sarà con te, e di rimando ti ritrovi a volere che l’universo sia più bello. E lo cambi a piccoli passi.</p>

        <p>Pensiamo alla sua stanzetta che attualmente è la classica camera rimasta vuota in attesa di decidere il da farsi. Adesso è tutta bianca, spoglia, tutto intonaco con la lampadina che penzola dal soffitto. Mancano il lettino, qualche pupazzo, qualche libreria, armadio, colore.</p>

        <p>A piccoli passi io e Chiara vestiamo quella stanza. Innaffiamo quelle mura appassite così che queste piano piano rinvigoriscano e si gonfino, prendano a pulsare, così come le parti più fragili ed emotive di noi che saranno toccate e stravolte per sempre da Damiano. Una cosa inizia ad essermi sempre più chiara: questo tipo di amore *amplifica ogni cosa - le cose belle, difficili, cattive, amplifica l’amore, la vergogna, il senso di colpa, ma anche la felicità, le debolezze, gli affanni. Ti da l’occasione di vedere gli angoli più bui di tutte le tue stanze, illuminando porte chiuse da anni e mai più aperte. Non guarisce, quello devi farlo tu, ma ti mostra un sacco di cose.*</p>

        <p>Lui ci sta già cambiando e ci sta già facendo vedere il mondo con occhi diversi. A breve toccherà a noi mostrare tante belle cose a lui. Il nostro bimbo. Damiano.</p>
    </div>
</section>

<section class="alt-section">
    <div class="section-content cards-list">
        <h3>Brani musicali</h3>
        <ul class="songs-list">
            <li><p>La sigla: <strong>Everybody Else</strong> di Kara Square e Piero Peluche</p></li>
            <li><p><strong>Jazz Me Blues</strong> di E's Jammy Jams</p></li>
            <li><p><strong>Patchwork</strong> di Adam Drake e Tom Jenkins</p></li>
            <li><p><strong>And Indie Midnight Drive</strong> di Nicholas Evans (PRS) e Jake ShillingFord (PRS)</p></li>
        </ul>
        <p>Di tutti i brani presenti ho acquistato la licenza che me ne consente la pubblicazione</p>
    </div>

</section>

{% include contatti.html %}