<!DOCTYPE html>

<html lang="it" dir="ltr">
    <head>
        <meta charset="utf-8" />

        <!-- MAKE IT RESPONSIVE, YEAH! -->
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

        <!-- SEO -->
        <title>Come nasce un papà - {{ page.metaTitle }}</title>
        <meta name="description" content="{{ page.metaDescription }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Come nasce un papà - {{ page.metaTitle }}" />
        <meta property="og:description" content="{{ page.metaDescription }}" />
        <meta property="og:site_name" content="Come nasce un papà" />
        <meta property="og:locale" content="it_IT" />
        <meta property="og:image" content="{{ site.url }}/assets/images/come-nasce-un-papa-podcast-logo-transparent.png?v=kkH8Ehknqdx2biuFRUCD9VNYLMY0Bo04n-qin7rL8CQ" />
        <meta name="author" content="Francesco Bonizzi" />

        <link rel="canonical" href="{{ site.url }}{{ page.permalink }}" />

        {% if page.isEpisodePage %}
        <!-- STRUCTURED DATA -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "PodcastEpisode",
                "url": "{{ site.url }}{{ page.permalink }}",
                "name": "{{ page.metaTitle }}",
                "datePublished": "{{ page.datePublished }}",
                "timeRequired": "{{ page.duration }}",
                "description": "{{ page.metaDescription }}",
                "partOfSeries": {
                    "@type": "PodcastSeries",
                    "name": "Come nasce un papà",
                    "url": "{{ site.url }}"
                }
            }
        </script>
        {% endif %}

        <!-- ICONS -->
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/assets/images/favicons/apple-touch-icon.png?v=b5GOwkXTS4YNIoGMyLT_EIMkhHnGg_fPK0ixwZ_W_00" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/images/favicons/favicon-32x32.png?v=UDcp0diUqj96lihvsSX_acZHRisV68SuOIPBz7IHyMk" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/images/favicons/favicon-16x16.png?v=wzO8QJ3Mf979ysRnx_paKrdIs3eEWVua1PJUe257HwE" />
        <link rel="manifest" href="{{ site.url }}/assets/images/favicons/site.webmanifest" />
        <link rel="mask-icon" href="{{ site.url }}/assets/images/favicons/safari-pinned-tab.svg?v=R8rO8iaEC3cN5Kay_H4YT5NBJkDypKmLVRmMHElp6qo" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#000000" />
        <meta name="theme-color" content="#ffffff" />

        <!-- STYLE -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="{{ site.url }}/assets/css/styles.css" rel="stylesheet" />

        <!-- SPREAKER -->
        <script async src="https://widget.spreaker.com/widgets.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a class="header-logo" href="/">
                            <img
                                src="{{ site.url }}/assets/images/come-nasce-un-papa-logo-notext-transparent.png?v=E5OHbxzUzzWw5rd-22ePDJnHmpoZA6ZUxYA8v0BNcoc"
                                alt="Il logo del podcast 'Come nasce un papà'"
                                width="50"
                                height="50"
                            />
                            <span>Come nasce un papà</span>
                        </a>
                    </li>

                    <li>
                        <a class="action-button action-button-small" href="#dove-ascoltare">Dove ascoltare</a>
                    </li>

                    <li>
                        <a href="/#podcast">Il podcast</a>
                    </li>

                    <li>
                        <a href="/#chi-sono">Chi sono</a>
                    </li>

                    <li>
                        <a href="/#episodi">Gli episodi</a>
                    </li>

                    <li>
                        <a href="#contattami">Contattami</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>{{ content }}</main>

        <footer>
            <p>Questo podcast è scritto, registrato ed editato da me, Francesco Bonizzi, con tanto amore 💚</p>
            <p>&copy; Copyright 2022. <strong>Come nasce un papà</strong></p>
        </footer>

        {{ page.scripts }}
    </body>
</html>
