<section id="dove-ascoltare">
    <div class="section-content podcast-links">
        <h3>Disponibile su</h3>
        <a
            href="https://podcasts.apple.com/us/podcast/come-nasce-un-pap%C3%A0/id1609057474"
            alt="Il link per ascoltare Come nasce un papà su Apple Podcast"
        >
            <img src="/assets/images/apple-podcast-logo.svg" height="35" alt="Apple Podcasts logo" />
        </a>

        <a
            href="https://open.spotify.com/show/1J6CHVXbpERq4s1WQMsHhv"
            alt="Il link per ascoltare Come nasce un papà su Spotify Podcast"
        >
            <img src="/assets/images/spotify-podcasts-logo.svg" height="35" alt="Spotify Podcasts logo" />
        </a>

        <a
            href="https://www.spreaker.com/show/come-nasce-un-papa"
            alt="Il link per ascoltare Come nasce un papà su Spreaker Podcast"
        >
            <img src="/assets/images/spreaker-podcasts-logo.svg" height="35" alt="Spreaker Podcasts logo" />
        </a>
    </div>
</section>
