@{
    ViewData["Title"] = "Mese 4 - Dirlo a tutti";
    ViewData["MetaDescription"] = "Quarto mese: è ora di dirlo a tutti. Per dare ai parenti la buona notizia a sorpresa, usiamo la tecnica selfie: al mio tre dite tutti... aspettiamo un bambino!";
}

@section StructuredData {
<script type="application/ld+json">
    {
        "@@context": "https://schema.org/",
        "@@type": "PodcastEpisode",
        "url": "https://www.francescopodcast.it/episodi/episodio-4-dirlo-a-tutti",
        "name": "@ViewData["Title"]",
        "datePublished": "2022-03-01",
        "timeRequired": "PT5M",
        "description": "@ViewData["MetaDescription"]",
        "partOfSeries": {
            "@@type": "PodcastSeries",
            "name": "Come nasce un papà",
            "url": "https://www.francescopodcast.it/"
        }
    }
</script>
}

@section Scripts {
<script async src="https://widget.spreaker.com/widgets.js"></script>
    }

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>@ViewData["Title"]</h1>
            <h2>
                Selfie di famiglia: "al mio tre dite tutti... aspettiamo un bambino!"
            </h2>

            <a class="spreaker-player"
               href="https://www.spreaker.com/episode/48856851"
               data-resource="episode_id=48856851"
               data-width="100%"
               data-height="200px"
               data-theme="light"
               data-playlist="false"
               data-playlist-continuous="false"
               data-chapters-image="true"
               data-episode-image-position="right"
               data-hide-logo="false" data-hide-likes="false"
               data-hide-comments="false"
               data-hide-sharing="false"
               data-hide-download="true">Ascolta "Mese 4 - Dirlo a tutti" su Spreaker.</a>
        </div>

    </div>
</section>

<partial name="_DisponibileSu" />

<section class="alt-section">
    <div class="section-content">
        <h3>Natale!</h3>
        <p>
            L'ansia al momento è al minimo perché la visita della ginecologa ha posto un punto fermo nella nostra percezione della gravidanza,
            quindi si slitta a tutta velocità verso il Natale.
        </p>

        <p>
            Chiara adora il Natale, lo aspetta tutto l'anno. Io sono sempre teso tra l'aver voglia di fare gli auguri a tutti con allegria ed una vena di malinconia, tipica, credo, di chi ha i genitori divorziati da tanto tempo.
        </p>

        <p>
            Non festeggio il Natale inteso come la nascita di Gesù: per me è semplicemente una tradizione della mia cultura.
        </p>

        <p>
            Le aziende chiudono, la città è luccicante, qualcuno mi porge gli auguri e mi fa dei regali: approfitto per sentire persone che non sentivo da un po’, partecipo e mi lascio trasportare anche io all'euforia collettiva, come se fosse una festa di paese un po’ più sentita delle altre.
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Come dirlo</h3>

        <p>
            Io e Chiara abbiamo entrambi i genitori separati, quindi abbiamo fatto degli incroci: Vigilia mia mamma con suo papà, Natale con sua mamma e mio papà.
            Per dare ai parenti la buona notizia a sorpresa, usiamo la <strong>tecnica selfie</strong>.
        </p>

        <p>
            Funziona così:
            <ul class="yellow-dot">
                <li>Chiara propone un selfie di gruppo</li>
                <li>Io che notoriamente non li sopporto, faccio finta di brontolare</li>
                <li>Chiara insiste</li>
                <li>"Vabbè dai però poi basta foto"</li>
                <li>Prendo in mano il telefono, metto tutti in posizione, e dico "al mio tre dite tutti: aspettiamo un bambino!"</li>
            </ul>
        </p>

        <p>
            Tutte e due le volte ci sono stati attimi di silenzio nei quali tutti pensavano: "Francesco sarà il solito idiota o è vero?". Per cui ho dovuto dire "Non è uno scherzo".
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>I parenti</h3>

        <p>
            Chiara è al settimo cielo per averlo finalmente detto a qualcuno: dirlo rende tutto più vero e allevia la solitudine di affrontare i problemi da soli. Mi piace tantissimo vederla così contenta.
        </p>

        <p>
            I miei parenti sono pochi, tutti piccolini, timidini e riservatini. I nostri rapporti sono sempre stati distanti. Da piccolo è stato un dolore, adesso vi trovo il lato positivo: così è rimosso il 50% dello stress da genitori.
        </p>

        <p>
            La sua parte di famiglia invece è numerosissima, e formano nella mia mente un elementale di budino, unito, ballonzolante e vocioso.
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>I consigliofori indesiderati</h3>

        <p>
            Ma più in generale quando parli della gravidanza, nessuno si fa remore nel fornire tutti i consigli <strong>non</strong> richiesti possibili.
        </p>

        <div class="text-with-image">
            <img src="~/assets/come-nasce-un-papà-pensiero-profondo.jpg"
                 alt="Foto del computer quantistico pensiero profondo, tratto dal film 'Guida galattica per autostoppisti'"
                 width="878" height="282"
                 asp-append-version="true" />
        </div>

        <p>Inizi magicamente a trovare tuttologi ad ogni angolo, i quali riescono sempre a condensare in cinque minuti un sapere enciclopedico che neanche il super computer quantistico "Pensiero Profondo" potrebbe elaborare. Ti ritrovi a queste cene dove tutti parlano contemporaneamente: amici, amici degli amici, parenti, parenti degli amici</p>

        <p>Ci vorrebbero undici orecchie e 4 cervelli per seguire tutti i discorsi, come una CPU quad-core con vero multitasking. Ma io sono un essere molto più singolare e quindi non capisco niente di niente di niente. E sinceramente non ho neanche voglia di ascoltare più di tanto. </p>

        <p>Sì, a volte sono fastidiosamente solitario, ma trovo che certi attimi di solitudine siano un diritto.</p>

        <p>I consigliofori indesiderati partono a parlare dai vaccini passando per qual è il modo migliore di riempire la lavastoviglie, <i>(sì? un attimo che me lo segno subito sul mio diario invisibile)</i> <strong>tutti sanno già cosa proveremo</strong>, cosa penseremo, in cosa crederemo, cosa sarà meglio fare, minuto per minuto, cosa dire alle infermiere, ai dottori, cosa non credere di quello che ci diranno all'ospedale, l'epidurale sì, l'epidurale no, il cesareo sì, il cesareo no, il parto in acqua sì, il parto in acqua no, l'amica del cugino del portinaio del fratello del panettiere del genero dell'avvocato del naturopata dell'agopuntore del becchino ha detto...</p>
    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h3>Sbagliare da soli</h3>

        <p>
            Io e Chiara ci guardiamo e sbuffiamo all'unisono, tutte le volte. Sappiamo che dovremo in parte contenerci, perché l'aria che tira ci sta già facendo innervosire
        </p>

        <p>
            Questo ci fa realizzare che dovremo imporci per ottenere la sacrosanta libertà di sbagliare da soli che ci spetta di diritto. Dovremo essere fermi e sicuri nel porre dei limiti. Fin da subito. E con questi pensieri piano piano torniamo ad essere un po' più concreti, a vedere uno dei tanti lati difficili della questione.
        </p>

        <p>
            Lo sento, siamo usciti dall'euforia iniziale e cala su di noi una sottile pellicola di serietà.
        </p>

    </div>
</section>

<section>
    <div class="section-content">

        <h3>Pausa di riflessione</h3>

        <p>
            E in questo mappazzone di fatti e parole mi rendo conto per la prima volta che non mi sono ancora ascoltato.
            Mi guardo dentro per un attimo e vedo una biglia impazzita che sbatte contro tutti i muri oscillando dall'ebrezza alla paura, passando per una calma innaturale.
        </p>

        <p>Sento di dover far chiarezza, di dover fare qualcosa per me.</p>

        <p>Stando da solo. </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content cards-list">
        <h3>Brani musicali</h3>
        <ul class="songs-list">
            <li><p><strong>Almost time for christmas</strong> di David Tobin</p></li>
            <li><p><strong>Swing Locomotive</strong> di Tim Garland</p></li>
        </ul>
        <p>Di tutti i brani presenti ho acquistato la licenza che me ne consente la pubblicazione</p>
    </div>

</section>

<partial name="_Contacts" model="new { IsAlt = false }" />