---
layout: skeleton
permalink: /episodi/episodio-9-ecco-damiano-finale-stagione
isEpisodePage: true

metaTitle: Mese 9 - Ecco Damiano! Finale di stagione
metaDescription: 'Contrazioni, si rompono le acque, epidurale... Cazzo, sto diventando un papà!'

scripts: '<script async src="https://widget.spreaker.com/widgets.js"></script>'
datePublished: 2022-04-05
duration: PT15M
---

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>{{ page.metaTitle }}</h1>
            <h2>{{ page.metaDescription }}</h2>

            <a
                class="spreaker-player"
                href="https://www.spreaker.com/episode/49316607"
                data-resource="episode_id=49316607"
                data-width="100%"
                data-height="200px"
                data-theme="light"
                data-playlist="false"
                data-playlist-continuous="false"
                data-chapters-image="true"
                data-episode-image-position="right"
                data-hide-logo="false"
                data-hide-likes="false"
                data-hide-comments="false"
                data-hide-sharing="false"
                data-hide-download="true"
                >Ascolta "Mese 9 - Ecco Damiano! Finale di stagione" su Spreaker.</a
            >
        </div>
    </div>
</section>

{% include disponibileSu.html %}

<section class="alt-section">
    <div class="section-content">
        <h3>Ore 21 del 18 agosto 2020, QUALCOSA SI MUOVE.</h3>
        <p>
            Da mesi ho pronto il mio foglio Excel con la tabella da compilare per valutare la frequenza e l’intensità delle
            contrazioni, in modo da andare all’ospedale quando è il momento e non essere rispediti a casa. Ho la tabella, che
            genera un grafico, che mi fa notare tramite la formattazione condizionale quando la frequenza è quella indicata
            dalla ginecologa per poter andare là ed iniziare il travaglio dopo poco.
        </p>

        <p>
            Chiara è sul divano, io sono al tavolo col computer ed il file Contrazioni.xlsx aperto, il timer nella mano, e
            misuro e scrivo. Ci sono tante spintarelle e mi sto emozionando, all’inizio sono poco frequenti e poco intense,
            ma piano piano, nel giro di qualche ora, c’è un crescendo. Anche del dolore. Abbiamo già la borsa pronta.
        </p>

        <p>
            Ad un certo punto mi sembra il momento adatto, allora telefono in reparto e dico “Buonasera sono Francesco
            Bonizzi, mia moglie sta per partorire. Le contrazioni al momento hanno una durata media di 60 secondi, in
            crescita, ed una frequenza di una ogni 2 minuti circa, anch’essa in aumento. E’ il caso di venire?” dall’altra
            parte l’ostetrica ride e in sottofondo si sente “questo è un ingegnere” (non sto a discutere sul fatto che non
            sono un ingegnere… quindi se ci sono architetti in ascolto, non preoccupatevi, questo podcast può piacervi lo
            stesso). Poi ci dice di venire.
        </p>

        <p>
            Chiara è confezionata a dovere con tutte le sue cose, ci mettiamo in macchina e andiamo lentissimamente verso
            l’ospedale, che tanto è molto vicino.
        </p>

        <p>
            Guidare nella notte con mia moglie che sta per partorire è un’esperienza surreale. Ho il terrore di non essere
            abbastanza lucido per guidare bene, quindi roteo gli occhi a 360° dieci volte al secondo quasi fossi in fase REM
            per vedere tutto quello che c’è intorno ed evitare per tempo incidenti, tipo cose che saltano fuori in mezzo alla
            strada all’improvviso come gatti, cerbiatti, auto con alla guida un ubriaco, Daniela Santanchè sonnambula. E’
            notte, c’è un cielo limpidissimo, le luci dei fanali, dei lampioni e delle stelle ci dipingono la strada, e noi
            stiamo andando in ospedale per veder nascere nostro figlio.
        </p>

        <p>
            Siamo agitatissimi tutti e due. E’ la prima volta per entrambi e ci sono tante paura sul mentre e sul dopo: il
            dolore, la ripresa post parto, le difficoltà successive, ma tutti questi pensieri sono interrotti ogni tot minuti
            dalle contrazioni che si fanno sempre più presenti.
        </p>
    </div>
</section>

<section>
    <div class="section-content">
        <h3>All'ospedale</h3>

        <p>
            Arriviamo all’ospedale, andiamo nel reparto ostetricia di Fidenza, suoniamo - è tutto blindato, siamo in pieno
            covid - arriva un’ostetrica ad accoglierci. O meglio, ad accogliere Chiara, io vengo lasciato fuori e tanti
            saluti. Ecco. Questo era quello che non volevo accadesse, io voglio essere presente, voglio assistere a tutto, ma
            soprattutto voglio stare vicino a Chiara, è un momento difficile e importante, io la posso sostenere meglio di
            chiunque altro. Dopo un po’ inizio a suonare e chiedere quando potrò entrare. L’ostetrica mi dice che siamo
            indietro e mi dice di andare a casa un’oretta. Quasi mi viene da ridere, figurati se vado a casa se manca solo
            un’oretta. Le dico “guardi, la vede questa mattonella? Io rimango qui immobile finché non mi fate entrare”.
        </p>

        <p>
            Dopo un po' sento un mega urlo di Chiara e capisco una cosa: quelle che c’erano prima a casa non erano nulla in
            confronto a queste contrazioni. Queste, a quanto pare, sono quelle che tutti si immaginano, il vero dolore, le
            vere spinte, la vera pressione idraulica di Damiano che sta cercando di uscire. Risuono il campanello e dico “mi
            sembra proprio ora che io entri” - dalla faccia capisco che le ostetriche mi stanno già odiando, amen.
        </p>

        <p>
            Mi fanno entrare e finalmente rivedo Chiara, dopo un’ora quasi interminabile ad attendere fuori dalla porta di un
            ospedale in penombra.
        </p>

        <p>
            Prima cosa si cui insistere: l’epidurale. Ci eravamo già preparato sull’argomento. In base ai dottori od
            ostetriche che trovi, potrebbero esserci delle spinte forzose al parto naturale, per questioni idealistiche
            sostenute con il ventre degli altri.
        </p>

        <p>
            Il dolore di Chiara cresce, le chiedo se le interessa lepidurale, mi urla in faccia certo, iniziò a rompere alle
            ostetriche per averla. Ci é andata bene: non abbiamo trovato resistenza, arriva l’anestesista, d’ora in poi
            denominato Sant’Andrea, perché si chiama Andrea e perché con le abilità ha fatto un miracolo, attacca a Chiara un
            tubicino nel braccio, le consegna una specie di telecomando con il quale può richiedere altre dosi. Ridendo sotto
            i baffi dice che ovviamente non le dà senza limiti, c’è un meccanismo per darle nelle dosi e frequenza giuste.
            Sollievo.
        </p>

        <p>
            Il resto della notte trascorre tranquilla. Lepidurale funziona molto bene, chiara non urla, piano piano si
            dilata. Io mi metto sulla poltrona di fianco a lei e aspetto. Sonnecchio. Aspettiamo insieme Damiano.
        </p>

        <p>
            L’ostetrica ad un certo punto dice a Chiara che è ora di fare la pipì. Le mette una specie di cateterino
            collegato ad una sacca molto grande. E succede una cosa incredibile. Escono 600ml di pipì. 600ml. Con 600ml di
            liquidi ci fai 1KG di pane o di farinata di ceci! C’era questa busta trasparente e ripiena di liquido giallo, non
            pensavo si potesse farne così tanta!
        </p>
    </div>
</section>

<section class="alt-section">
    <div class="section-content">
        <h3>Ecco Damiano!</h3>

        <p>Passano le ore e ormai é mattina.</p>

        <p>
            Chiara é dilatata il giusto per iniziare A dare le spunte finali. Lepidurale dopo un po’ finisce e gliela
            staccano, altrimenti perde sensibilità e non riesce più a spingere abbastanza. E adesso il dolore é veramente
            forte, perché manca la dilatazione finale, la più dolorosa, quella che potrebbe portare a lesioni e ferite. Fa
            malissimo, le tengo la mano, l’aiuto a respirare e fare le pause giuste tra una spinta e l’altra come mi
            consiglia la ostetrica.
        </p>

        <p>
            Breve parentesi. Io sono curioso e non sono per niente schizzinoso, quindi in accordo con chiara avrei guardato
            tuttto.
        </p>

        <p>
            Così mi piazzo davanti al tunnel d’uscita, la parte dove Damiano vede la luce e iniziò a osservare come se fossi
            un ginecologo. Il dottor Bonizzi. Iniziò a vedere dei capelli nerissimi che escono dalla vagina di Chiara,
            insieme a sangue, lei spinge spinge spinge, iniziò a vedere una cosa nera che sembra un avocado bruciato, entra
            il ginecologo o che dice tre spinte ed é fuori, chiara spinge spinge e la testa esce! Esce solo la testa che
            sembra piccolissima e appena va fuori si gonfia di colpo come reazione alla pressione esterna
        </p>

        <p>
            Ora la testa è fuori, esce tutto il resto, e Damiano intriso di sangue liquidi e secrezioni varie piange, piange,
            piange, un pianto possente e collerico!
        </p>

        <div class="text-with-image">
            <img
                src="/assets/images/damiano-come-nasce-un-papà.jpg"
                alt="Immagine dell'anime Bugie D'Aprile"
                width="800"
                height="600"
            />
        </div>

        <p>
            Io mi avvicino e gli dico “CIAO sono il papà”, lui si volta di scatto, mi fissa, e smette all’istante di
            piangere. Il silenzio di tutti.
        </p>

        <p>
            <strong>Lo sguardo più intenso della mia vita.</strong>
        </p>
    </div>
</section>

<section>
    <div class="section-content cards-list">
        <h3>Brani musicali</h3>
        <ul class="songs-list">
            <li>
                <p><strong>Amongst The Stars</strong> di Dan Skinner e Adam Skinner</p>
            </li>
            <li>
                <p><strong>Tiritirititraun 2</strong> di Dolores Carrasco Ruiz, Campbell E Browning e Pablo Love</p>
            </li>
            <li>
                <p><strong>Sailing</strong> di Telecasted</p>
            </li>
        </ul>
        <p>Di tutti i brani presenti ho acquistato la licenza che me ne consente la pubblicazione</p>
    </div>
</section>

{% include contatti.html %}
