---
layout: skeleton
permalink: /episodi/intermezzo-ninna-nanna-magica
isEpisodePage: true

metaTitle: Intermezzo - Ninna nanna magica
metaDescription: "Un intermezzo poeticomagico! Libertà, libertà libertà, montagne a punta, vertigini profondissime, strade innevate, prati di foglie rosse, nuvole a forma di elefante, musica, i baci di mia moglie che schioccano..."

scripts: '<script async src="https://widget.spreaker.com/widgets.js"></script>'
structuredData: '<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "PodcastEpisode",
        "url": "https://www.francescopodcast.it/{{ page.permalink }}",
        "name": "{{ page.metaTitle }}",
        "datePublished": "2022-03-01",
        "timeRequired": "PT5M",
        "description": "{{ page.metaDescription }}",
        "partOfSeries": {
            "@type": "PodcastSeries",
            "name": "Come nasce un papà",
            "url": "https://www.francescopodcast.it/"
        }
    }
</script>'
---

<section>
    <div class="section-content main-section">
        <div class="main-section-left-infos">
            <h1>{{ page.metaTitle }}</h1>
            <h2>{{ page.metaDescription }}</h2>

            <a
                class="spreaker-player"
                href="https://www.spreaker.com/episode/48856968"
                data-resource="episode_id=48856968"
                data-width="100%"
                data-height="200px"
                data-theme="light"
                data-playlist="false"
                data-playlist-continuous="false"
                data-chapters-image="true"
                data-episode-image-position="right"
                data-hide-logo="false"
                data-hide-likes="false"
                data-hide-comments="false"
                data-hide-sharing="false"
                data-hide-download="true"
                >Ascolta "Intermezzo - Ninna nanna magica" su Spreaker.</a
            >
        </div>
    </div>
</section>

{% include disponibileSu.html %}

<section class="alt-section">
    <div class="section-content">
        <h3>Libertà, libertà libertà</h3>
        <p>
            Libertà, libertà libertà, montagne a punta, vertigini profondissime, strade innevate, prati di foglie rosse,
            nuvole a forma di elefante, musica, i baci di mia moglie che schioccano, essere amato, scrosci di maree contro un
            faro, un cane che mi lecca il viso, un gattino che mi graffia, il mio capo che mi dice che sono brava, le mie
            dita che fanno melodie, pasta e fagioli nel mio cucchiaio, il vento, il vento fortissimo sulla faccia, in
            direzione ostinata e contraria, la stanchezza fisica, gambe che tremano, dormire, risolvere dei problemi,
            svegliarmi bene, il calore quando ho freddo, il freddo quando ho caldo, la fine dell'estate, la pioggia infinita
            dalla finestra, la neve leggerissima, sognare di volare, sognare di vagare nell'universo vuoto, il vero silenzio,
            mia moglie che canta, la pizza sottile e larga, i carciofi, l'odore di humus del bosco, i passi sull'asfalto a
            tempo, il sudore, gli uccellini che si parlano tra linfe e cortecce, i miei passi sprofondati, la carta dei
            libri, mia moglie che dorme ed io che la accarezzo, mia moglie che russa ed io sono felice perché la sento viva,
            le poesie che non capisco...
        </p>
    </div>
</section>

<section>
    <div class="section-content cards-list">
        <h3>Brani musicali</h3>
        <ul class="songs-list">
            <li>
                <p><strong>The Old Wizard (2010)</strong> di Celestial Aeon Project</p>
            </li>
        </ul>
        <p>Di tutti i brani presenti ho acquistato la licenza che me ne consente la pubblicazione</p>
    </div>
</section>

{% include contatti.html %}
